**Encuesta Origen Destino, Natales, 2024 - Limpieza de Datos**

Este notebook contiene el proceso completo de limpieza de los datos de la Encuesta Origen Destino 2024.
Aquí se corrigen tipos de datos, se manejan valores nulos, se renombran columnas y se mapean códigos a descripciones legibles.

*Este archivo es parte del portafolio de proyectos de análisis de datos de CatalinaMonse*

In [1]:
#librery
import pandas as pd

In [2]:
#Cargar datos 
hogar = pd.read_csv("data_hogar.csv", encoding="latin1")
persona = pd.read_csv("data_persona.csv", encoding="latin1")
viaje = pd.read_csv("data_viaje.csv", encoding="latin1")
etapa = pd.read_csv("data_etapa.csv", encoding="latin1")
vehiculo = pd.read_csv("data_vehiculo.csv", encoding="latin1")
bicicleta = pd.read_csv("data_bicicleta.csv", encoding="latin1")
localizacion = pd.read_csv("data_lochogar.csv", encoding="latin1")

### Exploración inicial del dataset

In [3]:
hogar.head()

,Folio,DireccionCalle,DireccionComuna,Zona_Hogar,Sector_Hogar,DiaEntrevista,MesEntrevista,HoraEntrevista,MinutoEntrevista,DiaRegistroViaje,...,Sector,FactorExpansionH,codConexionInternet,codDisponibilidadVehiculo,codHanVividoSiempreAqui,codSituacionVivienda,codTipoVivienda,codTipoViviendaAnterior,codTramoIngresoHogar,codTramoVehiculo
0,10011,BARROS ARANA,NATALES,1,4.Borde Costero,15,6,18,50,16,...,4.Borde Costero,"14,889",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10012,CARLOS BORIES,NATALES,1,4.Borde Costero,15,6,18,30,16,...,4.Borde Costero,"5,489",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10021,TOMAS ROGERS,NATALES,3,3.Centro,15,6,14,0,16,...,3.Centro,"7,85",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10022,MAGALLANES,NATALES,3,3.Centro,18,6,14,0,19,...,3.Centro,"16,558",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10031,AVENIDA LIBERTAD,NATALES,7,1.Residencial Norte,17,5,20,0,18,...,1.Residencial Norte,"24,803",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
hogar.shape

(518, 50)

In [5]:
persona.head()

,Folio,ordenpersona,DiaEntrevista,MesEntrevista,HoraEntrevista,MinutoEntrevista,Sexo,Parentesco,MesNacimiento,AgnoNacimiento,...,codMotivoNoViaje,codOcupacionPrincipal,codParentesco,codPercepcionIngresos,codRealizoViaje,codSexo,codTenenciaLicenciaConducir,codTenenciaTNE,codTenenciaTarjetaAdultoMayor,codTramoIngresoPersonal
0,10011,1,17,6,18,0,1,1,3,1935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10011,2,17,6,18,10,2,2,8,1944,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10011,3,17,6,20,0,2,3,6,1971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10012,1,17,6,17,0,2,1,1,1945,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10021,1,17,6,20,30,2,1,5,1986,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
persona.shape

(1000, 121)

In [7]:
viaje.head()

,Folio,ordenpersona,ordenviaje,Proposito,PropositoVC,Proposito_e,OrigenActividadComuna,OrigenActividadCalle,OrigenActividadNumero,OrigenActividadInterCalle,...,PropositoAgregado,FactorExpansionV,codActividadEmpresa,codModoEtapa1,codModoEtapa2,codModoEtapa3,codModoEtapa4,codModoEtapa5,codPeriodo,codProposito
0,10011,3,1,1,NaN,NaN,NATALES,BARROS ARANA,93,.,...,1,"8,531",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10011,3,2,7,1.0,NaN,NATALES,MANUEL BULNES,674,BAQUEDANO Y B. ENCALADA,...,3,"8,531",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10011,3,3,1,NaN,NaN,NATALES,BARROS ARANA,93,.,...,1,"8,531",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10011,3,4,7,1.0,NaN,NATALES,MANUEL BULNES,674,BAQUEDANO Y B. ENCALADA,...,3,"8,531",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10012,1,1,11,NaN,NaN,NATALES,CARLOS BORIES,148,.,...,3,"3,879",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
viaje["ordenviaje"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18])

In [9]:
viaje.shape

(1000, 53)

In [10]:
etapa.head()

,Folio,OrdenPersona,OrdenViaje,OrdenEtapa,ModoEtapa,CuadrasCaminadasAntes,MinutosCaminadosAntes,TipoAsiento,OrdenVehiculoViaje,SituacionBicicleta,...,codLugarEstacionoVehiculo,codModoEtapa,codMotivoNoUsoCiclovia,codPagoTarifaViaje,codSituacionBicicleta,codTipoAsiento,codTipoPagoEstacionamiento,codUsoClicloVia,codUsoHabitualBicicleta,codVehiculosNoUso
0,10011,3,1,1,13,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10011,3,2,1,13,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10011,3,3,1,13,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10011,3,4,1,13,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10012,1,1,1,1,0.0,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
etapa.shape

(1000, 48)

In [12]:
vehiculo.head()

,Folio,ordenvehiculo,TipoVehiculo,OrdenConductor,MarcaVehiculo,ModeloVehiculo,AnoVehiculo,CombustibleVehiculo,SituacionVehiculo,VehiculoTrabajo,FactorExpansionA,codSituacionVehiculo,codTipoVehiculo,codVehiculoTrabajo
0,10011,1,1,3,SUSUKI,EXPRESSO,2022,1,1,2,"10,476",NaN,NaN,NaN
1,10012,1,1,1,SUBARU,XV,2018,1,1,2,"10,476",NaN,NaN,NaN
2,10021,1,3,1,UAZ,PATRIOT,2021,1,1,2,"10,5",NaN,NaN,NaN
3,10022,1,2,1,HYUNDAI,SANTA FE,2012,2,1,2,"10,5",NaN,NaN,NaN
4,10022,2,1,3,HYUNDAI,VELOSTER,2013,1,1,2,"10,5",NaN,NaN,NaN

In [13]:
vehiculo.shape

(359, 14)

In [14]:
bicicleta.head()

,folio,ordenbicicleta,TipoBicicleta,OrdenConductor,SituacionBicicleta,BicicletaTrabajo,FactorExpansionB
0,10021,1,4,3,1,2,NaN
1,10022,3,1,4,1,2,NaN
2,10022,1,1,3,1,2,NaN
3,10022,2,1,4,1,2,NaN
4,10032,1,1,1,1,2,NaN

In [15]:
bicicleta.shape

(196, 7)

In [16]:
localizacion.head()

   Folio  idZona  IdMacroZona  Zona            MacroZona  codIdMacroZona
0  10011       1            4     1      4.Borde Costero             NaN
1  10012       1            4     1      4.Borde Costero             NaN
2  10021       3            3     3             3.Centro             NaN
3  10022       3            3     3             3.Centro             NaN
4  10031       7            1     7  1.Residencial Norte             NaN

### Limpieza de datos

In [17]:
#Limpieza incial 'Hogar"
hogar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 50 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Folio                      518 non-null    int64
 1   DireccionCalle             518 non-null    object
 2   DireccionComuna            518 non-null    object
 3   Zona_Hogar                 518 non-null    int64
 4   Sector_Hogar               518 non-null    object
 5   DiaEntrevista              518 non-null    int64
 6   MesEntrevista              518 non-null    int64
 7   HoraEntrevista             518 non-null    int64
 8   MinutoEntrevista           518 non-null    int64
 9   DiaRegistroViaje           518 non-null    int64
 10  MesRegistroViaje           518 non-null    int64
 11  TamanoFamiliar             518 non-null    int64
 12  TipoVivienda               518 non-null    int64
 13  TipoVivienda_e             1 non-null      object
 14  SituacionVivienda          518 non-null    int64
 15  SituacionVivienda_e        0 non-null      float64
 16  Dividendo                  10 non-null     float64
 17  Arriendo                   95 non-null     float64
 18  AntiguedadViviendaAnos     518 non-null    int64
 19  AntiguedadViviendaMeses    518 non-null    int64
 20  HanVividoSiempreAqui       518 non-null    int64
 21  TipoViviendaAnterior       39 non-null     float64
 22  ComunaViviendaAnterior     39 non-null     float64
 23  ComunaViviendaAnterior_e   26 non-null     object
 24  VisionBicicleta            518 non-null    int64
 25  IntegranteCapRed           518 non-null    int64
 26  CapRedTipo                 59 non-null     float64
 27  CapRedSuficiencia          59 non-null     float64
 28  CuentasInternet            518 non-null    int64
 29  DisponibilidadVehiculo     518 non-null    int64
 30  NumeroVehiculos            290 non-null    float64
 31  DisponibilidadBicicleta    518 non-null    int64
 32  NumeroBicicletas           123 non-null    float64
 33  NumeroEstudiantes          518 non-null    int64
 34  NumeroViajes               518 non-null    int64
 35  ViajesCaminata             518 non-null    int64
 36  TramoVehiculo              518 non-null    int64
 37  TramoIngresoHogar          518 non-null    int64
 38  TipoDia                    518 non-null    int64
 39  Zona                       518 non-null    int64
 40  Sector                     518 non-null    object
 41  FactorExpansionH           518 non-null    object
 42  codConexionInternet        0 non-null      float64
 43  codDisponibilidadVehiculo  0 non-null      float64
 44  codHanVividoSiempreAqui    0 non-null      float64
 45  codSituacionVivienda       0 non-null      float64
 46  codTipoVivienda            0 non-null      float64
 47  codTipoViviendaAnterior    0 non-null      float64
 48  codTramoIngresoHogar       0 non-null      float64
 49  codTramoVehiculo           0 non-null      float64
dtypes: float64(17), int64(26), object(7)
memory usage: 202.5+ KB

In [18]:
print(hogar.duplicated().sum())

0

In [19]:
hogar = hogar.dropna(axis=1, how='all')

In [20]:
hogar.columns = hogar.columns.str.strip().str.lower().str.replace(" ", "_")
print(hogar.columns)

Index(['folio', 'direccioncalle', 'direccioncomuna', 'zona_hogar',
       'sector_hogar', 'diaentrevista', 'mesentrevista', 'horaentrevista',
       'minutoentrevista', 'diaregistroviaje', 'mesregistroviaje',
       'tamanofamiliar', 'tipovivienda', 'tipovivienda_e', 'situacionvivienda',
       'dividendo', 'arriendo', 'antiguedadviviendaanos',
       'antiguedadviviendameses', 'hanvividosiempreaqui',
       'tipoviviendaanterior', 'comunaviviendaanterior',
       'comunaviviendaanterior_e', 'visionbicicleta', 'integrantecapred',
       'capredtipo', 'capredsuficiencia', 'cuentasinternet',
       'disponibilidadvehiculo', 'numerovehiculos', 'disponibilidadbicicleta',
       'numerobicicletas', 'numeroestudiantes', 'numeroviajes',
       'viajescaminata', 'tramovehiculo', 'tramoingresohogar', 'tipodia',
       'zona', 'sector', 'factorexpansionh'],
      dtype='object')

In [21]:
hogar = hogar.drop(columns=["tipovivienda_e"])

In [22]:
hogar = hogar.drop(columns=["direccioncalle"])

In [23]:
#Limpieza inicial 'Persona'
persona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 121 entries, Folio to codTramoIngresoPersonal
dtypes: float64(55), int64(46), object(20)
memory usage: 945.4+ KB

In [24]:
print(persona.duplicated().sum())

0

In [25]:
persona = persona.dropna(axis=1, how='all')

In [26]:
persona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 82 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Folio                       1000 non-null   int64
 1   ordenpersona                1000 non-null   int64
 2   DiaEntrevista               1000 non-null   int64
 3   MesEntrevista               1000 non-null   int64
 4   HoraEntrevista              1000 non-null   int64
 5   MinutoEntrevista            1000 non-null   int64
 6   Sexo                        1000 non-null   int64
 7   Parentesco                  1000 non-null   int64
 8   MesNacimiento               1000 non-null   int64
 9   AgnoNacimiento              1000 non-null   int64
 10  TenenciaLicenciaConducir    1000 non-null   int64
 11  TenenciaTNE                 1000 non-null   int64
 12  TenenciaTarjetaAdultoMayor  284 non-null    float64
 13  EscolaridadCurso            1000 non-null   int64
 14  EscolaridadNivel            1000 non-null   int64
 15  EscolaridadTitulo           253 non-null    float64
 16  ActividadTrabaja            1000 non-null   int64
 17  ActividadEstudia            1000 non-null   int64
 18  ActividadJubilado           1000 non-null   int64
 19  ActividadDuenaCasa          1000 non-null   int64
 20  ActividadBuscaTrabajo1Vez   1000 non-null   int64
 21  ActividadCesante            1000 non-null   int64
 22  ActividadOtro               1000 non-null   int64
 23  ActividadOtro_e             50 non-null     object
 24  OcupacionPrincipal          489 non-null    float64
 25  ActividadEconomica          489 non-null    float64
 26  JornadaTrabajo              489 non-null    float64
 27  DondeEstudia                170 non-null    float64
 28  LugarTrabajoComuna          489 non-null    object
 29  LugarTrabajoCalle           489 non-null    object
 30  LugarTrabajoNumero          489 non-null    object
 31  LugarTrabajoInterCalle      489 non-null    object
 32  LugarTrabajoHito            489 non-null    object
 33  LugarEstudioComuna          170 non-null    object
 34  LugarEstudioCalle           170 non-null    object
 35  LugarEstudioNumero          170 non-null    object
 36  LugarEstudioInterCalle      170 non-null    object
 37  LugarEstudioHito            170 non-null    object
 38  RealizoViaje                1000 non-null   int64
 39  LugarDiaRegistroViaje       326 non-null    float64
 40  MotivoNoViaje               326 non-null    float64
 41  MotivoNoViaje_e             30 non-null     object
 42  LugarComienzoDia            674 non-null    float64
 43  LugarInicioDiaComuna        6 non-null      object
 44  LugarInicioDiaCalle         6 non-null      object
 45  LugarInicioDiaNumero        6 non-null      object
 46  LugarInicioDiaInterCalle    6 non-null      object
 47  LugarInicioDiaHito          6 non-null      object
 48  Sector_LugarInicioDia       1000 non-null   int64
 49  HoraSalidaHora              674 non-null    float64
 50  HoraSalidaMinuto            674 non-null    float64
 51  NumeroViajes                674 non-null    float64
 52  ViajesCaminata              1000 non-null   int64
 53  NumeroEtapas                674 non-null    float64
 54  FreqCaminata                1000 non-null   int64
 55  FreqPrivado                 1000 non-null   int64
 56  FreqBus                     1000 non-null   int64
 57  FreqColectivo               1000 non-null   int64
 58  FreqBicicleta               1000 non-null   int64
 59  FreqAvion                   1000 non-null   int64
 60  ComprasComuna               1000 non-null   int64
 61  ComprasComunaEsp            4 non-null      object
 62  SaludComuna                 1000 non-null   int64
 63  SaludComunaEsp              22 non-null     object
 64  UsoTIC                      1000 non-null   int64
 65  UsoTransPub                 1000 non-null   int64
 66  PercepcionIngresos          1000 non-null   int64
 67  MontoIngresoPersonal        40 non-null     float64
 68  TramoIngresoPersonal        687 non-null    float64
 69  MontoGastoTransporte        1000 non-null   int64
 70  ConocimientoCampana         1000 non-null   int64
 71  CampanaDiario               1000 non-null   int64
 72  CampanaRadio                1000 non-null   int64
 73  CampanaTelevision           1000 non-null   int64
 74  CampanaVolante              1000 non-null   int64
 75  CampanaAfiche               1000 non-null   int64
 76  CampanaPasacalle            1000 non-null   int64
 77  CampanaPersonas             1000 non-null   int64
 78  Edad                        1000 non-null   int64
 79  TramoEdad                   1000 non-null   int64
 80  IngresoPersonal             870 non-null    float64
 81  FactorExpansionP            1000 non-null   object
dtypes: float64(16), int64(46), object(20)
memory usage: 640.8+ KB

In [27]:
persona.columns = persona.columns.str.strip().str.lower().str.replace(" ", "_")
print(persona.columns)

Index(['folio', 'ordenpersona', 'diaentrevista', 'mesentrevista',
       'horaentrevista', 'minutoentrevista', 'sexo', 'parentesco',
       'mesnacimiento', 'agnonacimiento', 'tenencialicenciaconducir',
       'tenenciatne', 'tenenciatarjetaadultomayor', 'escolaridadcurso',
       'escolaridadnivel', 'escolaridadtitulo', 'actividadtrabaja',
       'actividadestudia', 'actividadjubilado', 'actividadduenacasa',
       'actividadbuscatrabajo1vez', 'actividadcesante', 'actividadotro',
       'actividadotro_e', 'ocupacionprincipal', 'actividadeconomica',
       'jornadatrabajo', 'dondeestudia', 'lugartrabajocomuna',
       'lugartrabajocalle', 'lugartrabajonumero', 'lugartrabajointercalle',
       'lugartrabajohito', 'lugarestudiocomuna', 'lugarestudiocalle',
       'lugarestudionumero', 'lugarestudiointercalle', 'lugarestudiohito',
       'realizoviaje', 'lugardiaregistroviaje', 'motivonoviaje',
       'motivonoviaje_e', 'lugarcomienzodia', 'lugariniciodiacomuna',
       'lugariniciodiacalle', 'lugariniciodianumero',
       'lugariniciodiaintercalle', 'lugariniciodiahito',
       'sector_lugariniciodia', 'horasalidahora', 'horasalidaminuto',
       'numeroviajes', 'viajescaminata', 'numeroetapas', 'freqcaminata',
       'freqprivado', 'freqbus', 'freqcolectivo', 'freqbicicleta', 'freqavion',
       'comprascomuna', 'comprascomunaesp', 'saludcomuna', 'saludcomunaesp',
       'usotic', 'usotranspub', 'percepcioningresos', 'montoingresopersonal',
       'tramoingresopersonal', 'montogastotransporte', 'conocimientocampana',
       'campanadiario', 'campanaradio', 'campanatelevision', 'campanavolante',
       'campanaafiche', 'campanapasacalle', 'campanapersonas', 'edad',
       'tramoedad', 'ingresopersonal', 'factorexpansionp'],
      dtype='object')

In [28]:
persona  = persona.drop(columns=["campanavolante"])

In [29]:
persona  = persona.drop(columns=["comprascomunaesp"])

In [30]:
persona = persona.drop(columns=["lugariniciodianumero"])

In [31]:
persona = persona.drop(columns=["lugariniciodiacomuna"])

In [32]:
persona = persona.drop(columns=["lugariniciodiacalle"])

In [33]:
persona = persona.drop(columns=["lugariniciodiaintercalle"])

In [34]:
persona = persona.drop(columns=["lugariniciodiahito"])

In [35]:
persona = persona.drop(columns=["lugartrabajocalle"])

In [36]:
persona = persona.drop(columns=["lugartrabajonumero"])

In [37]:
persona = persona.drop(columns=["lugartrabajointercalle"])

In [38]:
persona = persona.drop(columns=["lugartrabajohito"])

In [39]:
persona = persona.drop(columns=["lugarestudiocalle"])

In [40]:
persona = persona.drop(columns=["lugarestudionumero"])

In [41]:
persona = persona.drop(columns=["lugarestudiointercalle"])

In [42]:
persona['ocupacionprincipal'] = persona['ocupacionprincipal'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else x)

In [43]:
# Limpieza inicial de 'Viaje'
viaje.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 53 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Folio                      1000 non-null   int64
 1   ordenpersona               1000 non-null   int64
 2   ordenviaje                 1000 non-null   int64
 3   Proposito                  1000 non-null   int64
 4   PropositoVC                475 non-null    float64
 5   Proposito_e                8 non-null      object
 6   OrigenActividadComuna      1000 non-null   object
 7   OrigenActividadCalle       1000 non-null   object
 8   OrigenActividadNumero      1000 non-null   object
 9   OrigenActividadInterCalle  1000 non-null   object
 10  OrigenActividadHito        1000 non-null   object
 11  LugarActividadComuna       1000 non-null   object
 12  LugarActividadCalle        1000 non-null   object
 13  LugarActividadNumero       1000 non-null   object
 14  LugarActividadInterCalle   1000 non-null   object
 15  LugarActividadHito         1000 non-null   object
 16  ActividadEmpresa           208 non-null    float64
 17  TipoAsiento                538 non-null    float64
 18  ModoEtapa1                 1000 non-null   int64
 19  ModoEtapa2                 0 non-null      float64
 20  ModoEtapa3                 0 non-null      float64
 21  ModoEtapa4                 0 non-null      float64
 22  ModoEtapa5                 0 non-null      float64
 23  CuadrasCaminadasDespues    1000 non-null   int64
 24  MinutosCaminadosDespues    1000 non-null   int64
 25  HoraLlegadaHora            1000 non-null   int64
 26  HoraLlegadaMinuto          1000 non-null   int64
 27  HoraVolvioSalirHora        1000 non-null   int64
 28  HoraVolvioSalirMinuto      1000 non-null   int64
 29  Coord_OrigenViaje          1000 non-null   object
 30  Zona_OrigenViaje           1000 non-null   int64
 31  Sector_OrigenViaje         1000 non-null   object
 32  HoraSalida                 1000 non-null   object
 33  Coord_DestinoViaje         1000 non-null   object
 34  Zona_DestinoViaje          1000 non-null   int64
 35  Sector_DestinoViaje        1000 non-null   object
 36  HoraLlegada                1000 non-null   object
 37  TiempoViaje                1000 non-null   object
 38  Distancia                  0 non-null      float64
 39  Periodo                    1000 non-null   int64
 40  NumeroEtapasViaje          1000 non-null   int64
 41  HoraMediaViaje             1000 non-null   object
 42  ModoAgregado               1000 non-null   int64
 43  PropositoAgregado          1000 non-null   int64
 44  FactorExpansionV           1000 non-null   object
 45  codActividadEmpresa        0 non-null      float64
 46  codModoEtapa1              0 non-null      float64
 47  codModoEtapa2              0 non-null      float64
 48  codModoEtapa3              0 non-null      float64
 49  codModoEtapa4              0 non-null      float64
 50  codModoEtapa5              0 non-null      float64
 51  codPeriodo                 0 non-null      float64
 52  codProposito               0 non-null      float64
dtypes: float64(16), int64(17), object(20)
memory usage: 414.2+ KB

In [44]:
persona = persona.drop(columns=["lugarestudiohito"])

In [45]:
print(viaje.duplicated().sum())

0

In [46]:
viaje = viaje.dropna(axis=1, how='all')

In [47]:
viaje.columns = viaje.columns.str.strip().str.lower().str.replace(" ", "_")
print(viaje.columns)

Index(['folio', 'ordenpersona', 'ordenviaje', 'proposito', 'propositovc',
       'proposito_e', 'origenactividadcomuna', 'origenactividadcalle',
       'origenactividadnumero', 'origenactividadintercalle',
       'origenactividadhito', 'lugaractividadcomuna', 'lugaractividadcalle',
       'lugaractividadnumero', 'lugaractividadintercalle',
       'lugaractividadhito', 'actividadempresa', 'tipoasiento', 'modoetapa1',
       'cuadrascaminadasdespues', 'minutoscaminadosdespues', 'horallegadahora',
       'horallegadaminuto', 'horavolviosalirhora', 'horavolviosalirminuto',
       'coord_origenviaje', 'zona_origenviaje', 'sector_origenviaje',
       'horasalida', 'coord_destinoviaje', 'zona_destinoviaje',
       'sector_destinoviaje', 'horallegada', 'tiempoviaje', 'periodo',
       'numeroetapasviaje', 'horamediaviaje', 'modoagregado',
       'propositoagregado', 'factorexpansionv'],
      dtype='object')

In [48]:
viaje  = viaje.drop(columns=["proposito_e"])

In [49]:
viaje  = viaje.drop(columns=["origenactividadcalle"])

In [50]:
viaje  = viaje.drop(columns=["origenactividadnumero"])

In [51]:
viaje  = viaje.drop(columns=["origenactividadintercalle"])

In [52]:
viaje  = viaje.drop(columns=["origenactividadhito"])

In [53]:
viaje  = viaje.drop(columns=["lugaractividadcalle"])

In [54]:
viaje  = viaje.drop(columns=["lugaractividadnumero"])

In [55]:
viaje  = viaje.drop(columns=["lugaractividadintercalle"])

In [56]:
viaje  = viaje.drop(columns=["lugaractividadhito"])

In [57]:
#Limpieza inicial 'Etapa'
etapa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Folio                        1000 non-null   int64
 1   OrdenPersona                 1000 non-null   int64
 2   OrdenViaje                   1000 non-null   int64
 3   OrdenEtapa                   1000 non-null   int64
 4   ModoEtapa                    1000 non-null   int64
 5   CuadrasCaminadasAntes        754 non-null    float64
 6   MinutosCaminadosAntes        754 non-null    float64
 7   TipoAsiento                  538 non-null    float64
 8   OrdenVehiculoViaje           538 non-null    float64
 9   SituacionBicicleta           43 non-null     float64
 10  UsoHabitualBicicleta         43 non-null     float64
 11  UsoCiclovia                  43 non-null     float64
 12  MotivoNoUsoCiclovia          43 non-null     float64
 13  TiempoEspera                 149 non-null    float64
 14  VehiculosNoUso               149 non-null    float64
 15  NumeroVehiculoNoUso          24 non-null     float64
 16  LineaTransportePublico       149 non-null    object
 17  PagoTarifaViaje              152 non-null    float64
 18  MontoTarifaViaje             143 non-null    float64
 19  LugarBajoVehiculo            152 non-null    float64
 20  LugarBajoVehiculoComuna      44 non-null     object
 21  LugarBajoVehiculoCalle       44 non-null     object
 22  LugarBajoVehiculoNumero      44 non-null     object
 23  LugarBajoVehiculoInterCalle  44 non-null     object
 24  LugarBajoVehiculoHito        44 non-null     object
 25  Coord_LugarBajoVehiculo      44 non-null     object
 26  Zona_LugarBajoVehiculo       44 non-null     float64
 27  Sector_LugarBajoVehiculo     44 non-null     object
 28  DondeEstacionoVehiculo       538 non-null    float64
 29  LugarEstacionoVehiculo       425 non-null    float64
 30  LugarEstacionoVehiculoDir    96 non-null     object
 31  MontoPagoEstacionamiento     425 non-null    float64
 32  TipoPagoEstacionamiento      0 non-null      float64
 33  LugarEstacionoBicicleta      43 non-null     float64
 34  FactorExpansionE             1000 non-null   int64
 35  codDondeEstacionoVehiculo    0 non-null      float64
 36  codLugarBajoVehiculo         0 non-null      float64
 37  codLugarEstacionoBicicleta   0 non-null      float64
 38  codLugarEstacionoVehiculo    0 non-null      float64
 39  codModoEtapa                 0 non-null      float64
 40  codMotivoNoUsoCiclovia       0 non-null      float64
 41  codPagoTarifaViaje           0 non-null      float64
 42  codSituacionBicicleta        0 non-null      float64
 43  codTipoAsiento               0 non-null      float64
 44  codTipoPagoEstacionamiento   0 non-null      float64
 45  codUsoClicloVia              0 non-null      float64
 46  codUsoHabitualBicicleta      0 non-null      float64
 47  codVehiculosNoUso            0 non-null      float64
dtypes: float64(33), int64(6), object(9)
memory usage: 375.1+ KB

In [58]:
print(etapa.duplicated().sum())

0

In [59]:
etapa = etapa.dropna(axis=1, how='all')

In [60]:
etapa.columns = etapa.columns.str.strip().str.lower().str.replace(" ", "_")
print(etapa.columns)

Index(['folio', 'ordenpersona', 'ordenviaje', 'ordenetapa', 'modoetapa',
       'cuadrascaminadasantes', 'minutoscaminadosantes', 'tipoasiento',
       'ordenvehiculoviaje', 'situacionbicicleta', 'usohabitualbicicleta',
       'usociclovia', 'motivonousociclovia', 'tiempoespera', 'vehiculosnouso',
       'numerovehiculonouso', 'lineatransportepublico', 'pagotarifaviaje',
       'montotarifaviaje', 'lugarbajovehiculo', 'lugarbajovehiculocomuna',
       'lugarbajovehiculocalle', 'lugarbajovehiculonumero',
       'lugarbajovehiculointercalle', 'lugarbajovehiculohito',
       'coord_lugarbajovehiculo', 'zona_lugarbajovehiculo',
       'sector_lugarbajovehiculo', 'dondeestacionovehiculo',
       'lugarestacionovehiculo', 'lugarestacionovehiculodir',
       'montopagoestacionamiento', 'lugarestacionobicicleta',
       'factorexpansione'],
      dtype='object')

In [61]:
etapa = etapa.drop(columns=["factorexpansione"])

In [62]:
etapa = etapa.drop(columns=["lugarbajovehiculocalle"])

In [63]:
etapa = etapa.drop(columns=["lugarbajovehiculonumero"])

In [64]:
etapa = etapa.drop(columns=["lugarbajovehiculointercalle"])

In [65]:
etapa = etapa.drop(columns=["lugarbajovehiculohito"])

In [66]:
etapa = etapa.drop(columns=["coord_lugarbajovehiculo"])

In [67]:
etapa = etapa.drop(columns=["lugarestacionovehiculodir"])

In [68]:
#Limpieza inicial 'Vehiculo'
vehiculo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Folio                 359 non-null    int64
 1   ordenvehiculo         359 non-null    int64
 2   TipoVehiculo          359 non-null    int64
 3   OrdenConductor        359 non-null    int64
 4   MarcaVehiculo         359 non-null    object
 5   ModeloVehiculo        359 non-null    object
 6   AnoVehiculo           359 non-null    int64
 7   CombustibleVehiculo   359 non-null    int64
 8   SituacionVehiculo     359 non-null    int64
 9   VehiculoTrabajo       359 non-null    int64
 10  FactorExpansionA      359 non-null    object
 11  codSituacionVehiculo  0 non-null      float64
 12  codTipoVehiculo       0 non-null      float64
 13  codVehiculoTrabajo    0 non-null      float64
dtypes: float64(3), int64(8), object(3)
memory usage: 39.4+ KB

In [69]:
print(vehiculo.duplicated().sum())

0

In [70]:
vehiculo = vehiculo.dropna(axis=1, how='all')

In [71]:
vehiculo.columns = vehiculo.columns.str.strip().str.lower().str.replace(" ", "_")
print(vehiculo.columns)

Index(['folio', 'ordenvehiculo', 'tipovehiculo', 'ordenconductor',
       'marcavehiculo', 'modelovehiculo', 'anovehiculo', 'combustiblevehiculo',
       'situacionvehiculo', 'vehiculotrabajo', 'factorexpansiona'],
      dtype='object')

In [72]:
##Limpieza inicial 'Bicicleta'
bicicleta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   folio               196 non-null    int64
 1   ordenbicicleta      196 non-null    int64
 2   TipoBicicleta       196 non-null    int64
 3   OrdenConductor      196 non-null    int64
 4   SituacionBicicleta  196 non-null    int64
 5   BicicletaTrabajo    196 non-null    int64
 6   FactorExpansionB    0 non-null      float64
dtypes: float64(1), int64(6)
memory usage: 10.8 KB

In [73]:
print(bicicleta.duplicated().sum())

0

In [74]:
bicicleta = bicicleta.dropna(axis=1, how='all')

In [75]:
bicicleta.columns = bicicleta.columns.str.strip().str.lower().str.replace(" ", "_")
print(bicicleta.columns)

Index(['folio', 'ordenbicicleta', 'tipobicicleta', 'ordenconductor',
       'situacionbicicleta', 'bicicletatrabajo'],
      dtype='object')

In [76]:
#Limpieza inicial 'Localizacion"
localizacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Folio           520 non-null    int64
 1   idZona          520 non-null    int64
 2   IdMacroZona     520 non-null    int64
 3   Zona            520 non-null    int64
 4   MacroZona       520 non-null    object
 5   codIdMacroZona  0 non-null      float64
dtypes: float64(1), int64(4), object(1)
memory usage: 24.5+ KB

In [77]:
print(localizacion.duplicated().sum())

0

In [78]:
localizacion = localizacion.dropna(axis=1, how='all')

In [79]:
localizacion.columns = localizacion.columns.str.strip().str.lower().str.replace(" ", "_")
print(localizacion.columns)

Index(['folio', 'idzona', 'idmacrozona', 'zona', 'macrozona'], dtype='object')

### Transformación de columnas numéricas a categóricas (string)

#### 'Hogar'

In [80]:
hogar["tipovivienda"].value_counts()

tipovivienda
1    514
3      3
4      1
Name: count, dtype: int64

In [81]:
mapa_tipovivienda = {
    1: "Casa",
    2: "Casa en condominio",
    3: "Departamento",
    4: "Otro"
}
hogar["tipovivienda"] = hogar["tipovivienda"].map(mapa_tipovivienda)
hogar["tipovivienda"].value_counts()

tipovivienda
Casa            514
Departamento      3
Otro              1
Name: count, dtype: int64

In [82]:
hogar["situacionvivienda"].value_counts()

situacionvivienda
1    376
3     95
5     28
2     10
4      9
Name: count, dtype: int64

In [83]:
mapa_situacionvivienda = {
    1: "Propia (pagada)",
    2: "Propia (pagandose a plazo)",
    3: "Arrendada",
    4: "Cedida por trabajo o servicio",
    5: "Cedida por familiares o amigos",
    6: "Cedida por otro",
    7: "Ocupacion irregular",
    8: "Otra"
}
hogar["situacionvivienda"] = hogar["situacionvivienda"].map(mapa_situacionvivienda)
hogar["situacionvivienda"].value_counts()

situacionvivienda
Propia (pagada)                   376
Arrendada                          95
Cedida por familiares o amigos     28
Propia (pagandose a plazo)         10
Cedida por trabajo o servicio       9
Name: count, dtype: int64

In [84]:
hogar["hanvividosiempreaqui"].value_counts()

hanvividosiempreaqui
1    479
2     39
Name: count, dtype: int64

In [85]:
mapa_hanvividoaqui = {
    1: "Si",
    2: "No"
}
hogar["hanvividosiempreaqui"] = hogar["hanvividosiempreaqui"].map(mapa_hanvividoaqui)
hogar["hanvividosiempreaqui"].value_counts()

hanvividosiempreaqui
Si    479
No     39
Name: count, dtype: int64

In [86]:
hogar["tipoviviendaanterior"].value_counts()

tipoviviendaanterior
1.0    34
4.0     3
3.0     2
Name: count, dtype: int64

In [87]:
mapa_viviendaanterior = {
    1.0: "Casa",
    2.0: "Casa en Condominio",
    3.0: "Departamento",
    4.0: "Otro"
}
hogar["tipoviviendaanterior"] = hogar["tipoviviendaanterior"].map(mapa_viviendaanterior)
hogar["tipoviviendaanterior"].value_counts()

tipoviviendaanterior
Casa            34
Otro             3
Departamento     2
Name: count, dtype: int64

In [88]:
hogar["comunaviviendaanterior"].value_counts()

comunaviviendaanterior
10.0    26
5.0     13
Name: count, dtype: int64

In [89]:
mapa_comunaviviendaanterior = {
    1.0: "Cabo de Hornos",
    2.0: "Laguna Blanca",
    3.0: "Porvenir",
    4.0: "Primanera",
    5.0: "Punta Arenas",
    6.0: "Rio Verde",
    7.0: "San Gregorio",
    8.0: "Timaukel",
    9.0: "Torres del Paine",
    10.0: "Otra"
}
hogar["comunaviviendaanterior"] = hogar["comunaviviendaanterior"].map(mapa_comunaviviendaanterior)
hogar["comunaviviendaanterior"].value_counts()

comunaviviendaanterior
Otra            26
Punta Arenas    13
Name: count, dtype: int64

In [90]:
hogar["visionbicicleta"].value_counts() #Como ve la bicicleta?

visionbicicleta
3    302
2    152
1     64
Name: count, dtype: int64

In [91]:
mapa_visionbicicleta = {
    1: "Modo de transporte",
    2: "Recreacion",
    3: "Ambas"
}
hogar["visionbicicleta"] = hogar["visionbicicleta"].map(mapa_visionbicicleta)
hogar["visionbicicleta"].value_counts()

visionbicicleta
Ambas                 302
Recreacion            152
Modo de transporte     64
Name: count, dtype: int64

In [92]:
hogar["integrantecapred"].value_counts() #Integrante que tenga capacidades reducidas

integrantecapred
2    459
1     59
Name: count, dtype: int64

In [93]:
mapa_integrantecaped = {
    1: "Si",
    2: "No"
}
hogar["integrantecapred"] = hogar["integrantecapred"].map(mapa_integrantecaped)
hogar["integrantecapred"].value_counts()

integrantecapred
No    459
Si     59
Name: count, dtype: int64

In [94]:
hogar["capredtipo"].value_counts()

capredtipo
1.0    45
2.0    13
3.0     1
Name: count, dtype: int64

In [95]:
mapa_capredtipo = {
    1: "Fisica",
    2: "Sensorial (auditiva, visual)", 
    3: "Intelectual"
}
hogar["capredtipo"] = hogar["capredtipo"].map(mapa_capredtipo)
hogar["capredtipo"].value_counts()

capredtipo
Fisica                          45
Sensorial (auditiva, visual)    13
Intelectual                      1
Name: count, dtype: int64

In [96]:
hogar["capredsuficiencia"].value_counts()

capredsuficiencia
2.0    37
1.0    22
Name: count, dtype: int64

In [97]:
mapa_capredsuficiencia = {
    1: "Si",
    2: "No"
}
hogar["capredsuficiencia"] = hogar["capredsuficiencia"].map(mapa_capredsuficiencia)

In [98]:
hogar["capredsuficiencia"].value_counts()

capredsuficiencia
No    37
Si    22
Name: count, dtype: int64

In [99]:
hogar["cuentasinternet"].value_counts() #Paga las cuentas por internet

cuentasinternet
3    221
1    197
2    100
Name: count, dtype: int64

In [100]:
mapa_cuentasinternet = {
    1: "Si, todas",
    2: "Si, algunas",
    3: "No"
}
hogar["cuentasinternet"] = hogar["cuentasinternet"].map(mapa_cuentasinternet)
hogar["cuentasinternet"].value_counts()

cuentasinternet
No             221
Si, todas      197
Si, algunas    100
Name: count, dtype: int64

In [101]:
hogar["disponibilidadvehiculo"].value_counts()

disponibilidadvehiculo
1    290
2    228
Name: count, dtype: int64

In [102]:
mapa_disponibilidadvehiculo = {
    1: "Si",
    2: "No"
}
hogar["disponibilidadvehiculo"] = hogar["disponibilidadvehiculo"].map(mapa_disponibilidadvehiculo)
hogar["disponibilidadvehiculo"].value_counts()

disponibilidadvehiculo
Si    290
No    228
Name: count, dtype: int64

In [103]:
hogar["numerovehiculos"] = hogar["numerovehiculos"].astype("Int64")

In [104]:
hogar["disponibilidadbicicleta"].value_counts()

disponibilidadbicicleta
2    395
1    123
Name: count, dtype: int64

In [105]:
mapa_disponibilidadbicicleta = {
    1: "Si",
    2: "No"
}
hogar["disponibilidadbicicleta"] = hogar["disponibilidadbicicleta"].map(mapa_disponibilidadbicicleta)
hogar["disponibilidadbicicleta"].value_counts()

disponibilidadbicicleta
No    395
Si    123
Name: count, dtype: int64

In [106]:
hogar["numerobicicletas"] = hogar["numerobicicletas"].astype("Int64")

In [107]:
hogar["tramovehiculo"].value_counts()

tramovehiculo
1    230
0    228
2     51
3      9
Name: count, dtype: int64

In [108]:
mapa_tramovehiculo = {
    0: "No disponible",
    1: "1 Vehiculo",
    2: "2 Vehiculos",
    3: "3 o mas Vehiculos"
}
hogar["tramovehiculo"] = hogar["tramovehiculo"].map(mapa_tramovehiculo)
hogar["tramovehiculo"].value_counts()

tramovehiculo
1 Vehiculo           230
No disponible        228
2 Vehiculos           51
3 o mas Vehiculos      9
Name: count, dtype: int64

In [109]:
hogar["tramoingresohogar"].value_counts()

tramoingresohogar
2    199
1    175
3    103
9     41
Name: count, dtype: int64

In [110]:
mapa_tramoingresohogar = {
    1: "Ingreso Bajo: entre 0 y $450.000",
    2: "Ingreso Medio: entre $450.001 y $1.035.000",
    3: "Ingreso Alto: mayor a $1.035.001",
    9: "No informa"
}
hogar["tramoingresohogar"] = hogar["tramoingresohogar"].map(mapa_tramoingresohogar)
hogar["tramoingresohogar"].value_counts()

tramoingresohogar
Ingreso Medio: entre $450.001 y $1.035.000    199
Ingreso Bajo: entre 0 y $450.000              175
Ingreso Alto: mayor a $1.035.001              103
No informa                                     41
Name: count, dtype: int64

In [111]:
hogar["tipodia"].value_counts()

tipodia
1    453
2     65
Name: count, dtype: int64

In [112]:
mapa_tipodia = {
    1: "laboral",
    2: "Fin de semana"
}
hogar["tipodia"] = hogar["tipodia"].map(mapa_tipodia)
hogar["tipodia"].value_counts()

tipodia
laboral          453
Fin de semana     65
Name: count, dtype: int64

#### 'Persona'

In [113]:
persona["sexo"].value_counts()

sexo
2    528
1    472
Name: count, dtype: int64

In [114]:
mapa_sexo = {
    1: "Hombre",
    2: "Mujeres"
}
persona["sexo"] = persona["sexo"].map(mapa_sexo)
persona["sexo"].value_counts()

sexo
Mujeres    528
Hombre     472
Name: count, dtype: int64

In [115]:
persona["parentesco"].value_counts()

parentesco
1    423
3    260
2    208
4     86
5     11
6     11
8      1
Name: count, dtype: int64

In [116]:
mapa_parentesco = {
    1: "Jefe(a) de hogar",
    2: "Conyuge o Pareja",
    3: "Hija o Hijo",
    4: "Otro familiar",
    5: "No familiar",
    6: "Pensionista",
    7: "Servicio Domestico",
    8: "Otro servicio, cuidador, enfermera(o)"
}
persona["parentesco"] = persona["parentesco"].map(mapa_parentesco)
persona["parentesco"].value_counts()

parentesco
Jefe(a) de hogar                         423
Hija o Hijo                              260
Conyuge o Pareja                         208
Otro familiar                             86
No familiar                               11
Pensionista                               11
Otro servicio, cuidador, enfermera(o)      1
Name: count, dtype: int64

In [117]:
persona["tenencialicenciaconducir"].value_counts()

tenencialicenciaconducir
6    618
2    324
1     51
5      4
4      2
3      1
Name: count, dtype: int64

In [118]:
mapa_tenencialicenciaconducir = {
    1: "Licencia profesional A1, A2, A3, A4, A5",
    2: "Licencia no profesional B",
    3: "Licencia no profesional C",
    4: "Licencia no profesional D, E",
    5: "Licencia esoecial",
    6: "No"
}

persona["tenencialicenciaconducir"] = persona["tenencialicenciaconducir"].map(mapa_tenencialicenciaconducir)
persona["tenencialicenciaconducir"].value_counts()

tenencialicenciaconducir
No                                         618
Licencia no profesional B                  324
Licencia profesional A1, A2, A3, A4, A5     51
Licencia esoecial                            4
Licencia no profesional D, E                 2
Licencia no profesional C                    1
Name: count, dtype: int64

In [119]:
persona["tenenciatne"].value_counts()

tenenciatne
2    972
1     28
Name: count, dtype: int64

In [120]:
mapa_tenenciatne = {
    1: "Si",
    2: "No"
}

persona["tenenciatne"] = persona["tenenciatne"].map(mapa_tenenciatne)
persona["tenenciatne"].value_counts()

tenenciatne
No    972
Si     28
Name: count, dtype: int64

In [121]:
persona["tenenciatarjetaadultomayor"].value_counts()

tenenciatarjetaadultomayor
2.0    282
1.0      2
Name: count, dtype: int64

In [122]:
mapa_tenenciatarjetaadultomayor = {
    1: "Si",
    2: "No"
}

persona["tenenciatarjetaadultomayor"] = persona["tenenciatarjetaadultomayor"].map(mapa_tenenciatne)
persona["tenenciatarjetaadultomayor"].value_counts()

tenenciatarjetaadultomayor
No    282
Si      2
Name: count, dtype: int64

In [123]:
persona["escolaridadnivel"].value_counts()

escolaridadnivel
3    392
2    285
4    129
6     99
8     37
1     29
5     25
7      4
Name: count, dtype: int64

In [124]:
mapa_escolaridadnivel = {
    1: "Pre-basico",
    2: "Primarios (Basica o Preparatoria)",
    3: "Secundarios (Media o Humanidades)",
    4: "Profesionales",
    5: "Universitarios incompletos",
    6: "Universitarios completos",
    7: "Educacion Especial/Diferencia",
    8: "Ninguno, nunca asistio"
}

persona["escolaridadnivel"] = persona["escolaridadnivel"].map(mapa_escolaridadnivel)
persona["escolaridadnivel"].value_counts()

escolaridadnivel
Secundarios (Media o Humanidades)    392
Primarios (Basica o Preparatoria)    285
Profesionales                        129
Universitarios completos              99
Ninguno, nunca asistio                37
Pre-basico                            29
Universitarios incompletos            25
Educacion Especial/Diferencia          4
Name: count, dtype: int64

In [125]:
persona["escolaridadtitulo"].value_counts()

escolaridadtitulo
1.0    206
2.0     47
Name: count, dtype: int64

In [126]:
mapa_escolaridadtitulo = {
    1.0: "Si",
    2.0: "No"
}

persona["escolaridadtitulo"] = persona["escolaridadtitulo"].map(mapa_escolaridadtitulo)
persona["escolaridadtitulo"].value_counts()

escolaridadtitulo
Si    206
No     47
Name: count, dtype: int64

In [127]:
persona["actividadtrabaja"].value_counts()

actividadtrabaja
0    511
1    489
Name: count, dtype: int64

In [128]:
mapa_actividadtrabaja = {
    0: "No",
    1: "Si"
}

persona["actividadtrabaja"] = persona["actividadtrabaja"].map(mapa_actividadtrabaja)
persona["actividadtrabaja"].value_counts()

actividadtrabaja
No    511
Si    489
Name: count, dtype: int64

In [129]:
mapa_actividadestudia = {
    0: "No",
    1: "Si"
}

persona["actividadestudia"] = persona["actividadestudia"].map(mapa_actividadestudia)
persona["actividadestudia"].value_counts()

actividadestudia
No    830
Si    170
Name: count, dtype: int64

In [130]:
mapa_actividadjubilado = {
    0: "No",
    1: "Si"
}

persona["actividadjubilado"] = persona["actividadjubilado"].map(mapa_actividadjubilado)
persona["actividadjubilado"].value_counts()

actividadjubilado
No    838
Si    162
Name: count, dtype: int64

In [131]:
mapa_actividadduenacasa = {
    0: "No",
    1: "Si"
}

persona["actividadduenacasa"] = persona["actividadduenacasa"].map(mapa_actividadduenacasa)
persona["actividadduenacasa"].value_counts()

actividadduenacasa
No    817
Si    183
Name: count, dtype: int64

In [132]:
mapa_actividadbuscatrabajo1vez = {
    0: "No",
    1: "Si"
}

persona["actividadbuscatrabajo1vez"] = persona["actividadbuscatrabajo1vez"].map(mapa_actividadbuscatrabajo1vez)
persona["actividadbuscatrabajo1vez"].value_counts()

actividadbuscatrabajo1vez
No    999
Si      1
Name: count, dtype: int64

In [133]:
mapa_actividadcesante = {
    0: "No",
    1: "Si"
}

persona["actividadcesante"] = persona["actividadcesante"].map(mapa_actividadcesante)
persona["actividadcesante"].value_counts()

actividadcesante
No    957
Si     43
Name: count, dtype: int64

In [134]:
mapa_actividadotro = {
    0: "No",
    1: "Si"
}

persona["actividadotro"] = persona["actividadotro"].map(mapa_actividadotro)
persona["actividadotro"].value_counts()

actividadotro
No    950
Si     50
Name: count, dtype: int64

In [135]:
persona["ocupacionprincipal"].value_counts()

ocupacionprincipal
5.0    196
2.0    151
3.0     91
4.0     19
1.0     15
7.0      8
6.0      3
8.0      3
9.0      3
Name: count, dtype: int64

In [136]:
mapa_ocupacionprincipal = {
    1.0: ["Patron o empleador"],
    2.0: ["Trabajador por cuenta propia"],
    3.0: ["Empleado u obrero del sector publico"],
    4.0: ["Empleado u obrero de empresa privada"],
    5.0: ["Empleado u obrero del sector privado"],
    6.0: ["Servicio domestico puertas adentro"],
    7.0: ["Servicio domestico puertas afuera"],
    8.0: ["Familiar no remunerado"],
    9.0: ["FF.AA y de Orden"]
    
}
persona["ocupacionprincipal"] = persona["ocupacionprincipal"].map(mapa_ocupacionprincipal)
persona["ocupacionprincipal"].value_counts()

ocupacionprincipal
[Empleado u obrero del sector privado]    196
[Trabajador por cuenta propia]            151
[Empleado u obrero del sector publico]     91
[Empleado u obrero de empresa privada]     19
[Patron o empleador]                       15
[Servicio domestico puertas afuera]         8
[Servicio domestico puertas adentro]        3
[Familiar no remunerado]                    3
[FF.AA y de Orden]                          3
Name: count, dtype: int64

In [137]:
persona["actividadeconomica"].value_counts()

actividadeconomica
5.0    149
2.0     95
1.0     63
4.0     57
8.0     43
7.0     39
3.0     35
6.0      8
Name: count, dtype: int64

In [138]:
mapa_actividadeconomica  = {
    1: "Industria",
    2: "Comercio",
    3: "Salud",
    4: "Educacion",
    5: "Servicio",
    6: "Habitacional (Servicio domestico, enfermera a domicilio)",
    7: "Sector Publico",
    8: "Otro"
}

persona["actividadeconomica"] = persona["actividadeconomica"].map(mapa_actividadeconomica)
persona["actividadeconomica"].value_counts()

actividadeconomica
Servicio                                                    149
Comercio                                                     95
Industria                                                    63
Educacion                                                    57
Otro                                                         43
Sector Publico                                               39
Salud                                                        35
Habitacional (Servicio domestico, enfermera a domicilio)      8
Name: count, dtype: int64

In [139]:
persona["jornadatrabajo"].value_counts()

jornadatrabajo
1.0    338
2.0     79
4.0     72
Name: count, dtype: int64

In [140]:
mapa_jornadatrabajo = {
    1: "Jornada completa (40 hrs o mas semanales)",
    2: "Jornada parcial (menos de 40hrs semanales)",
    3: "Solo fines de semana",
    4: "Ocasional"
}
persona["jornadatrabajo"] = persona["jornadatrabajo"].map(mapa_jornadatrabajo)
persona["jornadatrabajo"].value_counts()

jornadatrabajo
Jornada completa (40 hrs o mas semanales)     338
Jornada parcial (menos de 40hrs semanales)     79
Ocasional                                      72
Name: count, dtype: int64

In [141]:
persona["dondeestudia"].value_counts()

dondeestudia
4.0    141
2.0     10
8.0      5
3.0      4
7.0      4
6.0      3
9.0      2
5.0      1
Name: count, dtype: int64

In [142]:
mapa_dondeestudia = {
    1: "Sala cuna",
    2: "Jardin infantil",
    3: "Prekinder o kinder",
    4: "Escuela, liceo, colegio", 
    5: "Solo preuniversitario",
    6: "Centro de formacion tecnica",
    7: "Instituto tecnico profesional",
    8: "Universidad",
    9: "Otro"
}

persona["dondeestudia"] = persona["dondeestudia"].map(mapa_dondeestudia)
persona["dondeestudia"].value_counts()

dondeestudia
Escuela, liceo, colegio          141
Jardin infantil                   10
Universidad                        5
Prekinder o kinder                 4
Instituto tecnico profesional      4
Centro de formacion tecnica        3
Otro                               2
Solo preuniversitario              1
Name: count, dtype: int64

In [143]:
persona["realizoviaje"].value_counts()

realizoviaje
1    674
2    326
Name: count, dtype: int64

In [144]:
mapa_realizoviaje = {
    1: "Si",
    2: "No"
}
persona["realizoviaje"] = persona["realizoviaje"].map(mapa_realizoviaje)
persona["realizoviaje"].value_counts()

realizoviaje
Si    674
No    326
Name: count, dtype: int64

In [145]:
persona["lugardiaregistroviaje"].value_counts()

lugardiaregistroviaje
1.0    297
2.0     29
Name: count, dtype: int64

In [146]:
mapa_lugardiaregistroviaje = {
    1: "En la direccion donde se realiza la encuesta",
    2: "En otra direccion"
}
persona["lugardiaregistroviaje"] = persona["lugardiaregistroviaje"].map(mapa_lugardiaregistroviaje)
persona["lugardiaregistroviaje"].value_counts()

lugardiaregistroviaje
En la direccion donde se realiza la encuesta    297
En otra direccion                                29
Name: count, dtype: int64

In [147]:
persona["motivonoviaje"].value_counts()

motivonoviaje
4.0    100
3.0     75
5.0     57
1.0     57
6.0     30
2.0      7
Name: count, dtype: int64

In [148]:
mapa_motivonoviaje = {
    1: "Por trabajo",
    2: "Por estudio",
    3: "Por trabajo domestico",
    4: "Por descanso",
    5: "Por enfermedad",
    6: "Por otro motivo"
}
persona["motivonoviaje"] = persona["motivonoviaje"].map(mapa_motivonoviaje)
persona["motivonoviaje"].value_counts()

motivonoviaje
Por descanso             100
Por trabajo domestico     75
Por enfermedad            57
Por trabajo               57
Por otro motivo           30
Por estudio                7
Name: count, dtype: int64

In [149]:
persona["lugarcomienzodia"].value_counts()

lugarcomienzodia
1.0    668
2.0      6
Name: count, dtype: int64

In [150]:
mapa_lugarcomienzodia = {
    1: "En la direccion donde se realiza la encuesta",
    2: "En otra direccion"
}
persona["lugarcomienzodia"] = persona["lugarcomienzodia"].map(mapa_lugarcomienzodia)
persona["lugarcomienzodia"].value_counts()

lugarcomienzodia
En la direccion donde se realiza la encuesta    668
En otra direccion                                 6
Name: count, dtype: int64

In [151]:
persona["numeroviajes"] = persona["numeroviajes"].astype("Int64")

In [152]:
persona["numeroetapas"] = persona["numeroetapas"].astype("Int64")

In [153]:
persona["freqcaminata"].value_counts()

freqcaminata
1    433
2    354
3    112
5     97
4      4
Name: count, dtype: int64

In [154]:
persona["freqprivado"].value_counts()

freqprivado
1    414
2    242
5    226
3    103
4     15
Name: count, dtype: int64

In [155]:
persona["freqbus"].value_counts()

freqbus
5    786
3    121
4     44
2     43
1      6
Name: count, dtype: int64

In [156]:
persona["freqcolectivo"].value_counts()

freqcolectivo
5    501
3    221
2    167
1     73
4     38
Name: count, dtype: int64

In [157]:
persona["freqbicicleta"].value_counts()

freqbicicleta
5    782
3     78
4     62
2     41
1     37
Name: count, dtype: int64

In [158]:
persona["freqavion"].value_counts()

freqavion
5    629
4    361
3      6
1      4
Name: count, dtype: int64

In [159]:
mapa_frecuencia = {
    1: "Diario",
    2: "Semanal",
    3: "Mensual",
    4: "Anual",
    5: "Nunca"
}
cols_frecuencia = [
    "freqcaminata", "freqprivado", "freqbus",
    "freqcolectivo", "freqbicicleta", "freqavion"
]
for col in cols_frecuencia:
    persona[col] = persona[col].map(mapa_frecuencia)

In [160]:
persona["comprascomuna"].value_counts() #Realiza sus compras en su comuna

comprascomuna
1    996
2      4
Name: count, dtype: int64

In [161]:
mapa_comprascomuna = {
    1: "Si",
    2: "No"
}
persona["comprascomuna"] = persona["comprascomuna"].map(mapa_comprascomuna)
persona["comprascomuna"].value_counts()

comprascomuna
Si    996
No      4
Name: count, dtype: int64

In [162]:
persona["saludcomuna"].value_counts() #asiste a centros de salud de su comuna

saludcomuna
1    978
2     22
Name: count, dtype: int64

In [163]:
mapa_saludcomuna = {
    1: "Si",
    2: "No"
}
persona["saludcomuna"] = persona["saludcomuna"].map(mapa_saludcomuna)
persona["saludcomuna"].value_counts()

saludcomuna
Si    978
No     22
Name: count, dtype: int64

In [164]:
persona["usotic"].value_counts() #Usa aplicaciones de viaje (ej:Waze)

usotic
2    572
1    428
Name: count, dtype: int64

In [165]:
mapa_usotic = {
    1: "Si",
    2: "No"
}
persona["usotic"] = persona["usotic"].map(mapa_usotic)
persona["usotic"].value_counts()

usotic
No    572
Si    428
Name: count, dtype: int64

In [166]:
persona["usotranspub"].value_counts()

usotranspub
2    663
1    337
Name: count, dtype: int64

In [167]:
mapa_usotranspub = {
    1: "Si",
    2: "No"
}
persona["usotranspub"] = persona["usotranspub"].map(mapa_usotranspub)
persona["usotranspub"].value_counts()

usotranspub
No    663
Si    337
Name: count, dtype: int64

In [168]:
persona["percepcioningresos"].value_counts()

percepcioningresos
1    653
2    273
3     74
Name: count, dtype: int64

In [169]:
mapa_percepcioningresos = {
    1: "Si, tiene ingresos", 
    2: "No tiene ingresos",
    3: "No responde"
}
persona["percepcioningresos"] = persona["percepcioningresos"].map(mapa_percepcioningresos)
persona["percepcioningresos"].value_counts()

percepcioningresos
Si, tiene ingresos    653
No tiene ingresos     273
No responde            74
Name: count, dtype: int64

In [170]:
persona["tramoingresopersonal"].value_counts()

tramoingresopersonal
11.0    130
1.0     116
3.0     109
4.0      91
2.0      68
5.0      52
6.0      43
8.0      41
7.0      27
9.0       8
10.0      2
Name: count, dtype: int64

In [171]:
mapa_tramoingresopersonal = {
    1: "Menos de $245.000",
    2: "Entre $245.001 y $395.000",
    3: "Entre $395.001 y $560.000",
    4: "Entre $560.001 y $703.000",
    5: "Entre $703.001 y $821.000",
    6: "Entre $821.001 y 1.035.000",
    7: "Entre $1.035.001 y $1.275.000",
    8: "Entre $1.275.001 y $1.726.000",
    9: "Entre $1.726.001 y $2.330.000",
    10: "Mas de $2.330.000",
    11: "No responde",
    12: "Sin ingresos"
}
persona["tramoingresopersonal"] = persona["tramoingresopersonal"].map(mapa_tramoingresopersonal)
persona["tramoingresopersonal"].value_counts()

tramoingresopersonal
No responde                      130
Menos de $245.000                116
Entre $395.001 y $560.000        109
Entre $560.001 y $703.000         91
Entre $245.001 y $395.000         68
Entre $703.001 y $821.000         52
Entre $821.001 y 1.035.000        43
Entre $1.275.001 y $1.726.000     41
Entre $1.035.001 y $1.275.000     27
Entre $1.726.001 y $2.330.000      8
Mas de $2.330.000                  2
Name: count, dtype: int64

In [172]:
persona["conocimientocampana"].value_counts()

conocimientocampana
2    752
1    248
Name: count, dtype: int64

In [173]:
mapa_conocimientocampana = {
    1: "Si",
    2: "No"
}
persona["conocimientocampana"] = persona["conocimientocampana"].map(mapa_conocimientocampana)
persona["conocimientocampana"].value_counts()

conocimientocampana
No    752
Si    248
Name: count, dtype: int64

In [174]:
mapa_campana = {
    0: "No",
    1: "Si" 
}
cols_campana = [
    "campanadiario", "campanaradio", "campanatelevision",
    "campanaafiche", "campanapasacalle", "campanapersonas"
]
for col in cols_campana:
    persona[col] = persona[col].map(mapa_campana)

In [175]:
persona["tramoedad"].value_counts()

tramoedad
5    508
6    210
4    105
2     88
3     52
1     36
0      1
Name: count, dtype: int64

In [176]:
mapa_tramoedad = {
    1: "Hasta 4 años",
    2: "De 5 a 13 años",
    3: "De 14 a 18 años",
    4: "De 19 a 29 años",
    5: "De 30 a 64 años",
    6: "Mas de 65 años"
}
persona["tramoedad"] = persona["tramoedad"].map(mapa_tramoedad)
persona["tramoedad"].value_counts()

tramoedad
De 30 a 64 años    508
Mas de 65 años     210
De 19 a 29 años    105
De 5 a 13 años      88
De 14 a 18 años     52
Hasta 4 años        36
Name: count, dtype: int64

#### 'Viaje'

In [177]:
viaje["proposito"].value_counts()

proposito
7     475
1     203
8      98
3      75
11     64
13     28
5      16
12     14
14      8
6       8
2       5
10      4
9       2
Name: count, dtype: int64

In [178]:
mapa_proposito = {
    1: "Trabajo",  #en los datos originales los valores, 1 y 3 eran Al trabajo y al estudio, y los valores 2 y 4 por trabajo y por estudio
    2: "Trabajo",
    3: "Estudio",
    4: "Estudio",
    5: "De salud",
    6: "Visitar a alguien",
    7: "Volver a casa",
    8: "Buscar o dejar a alguien",
    9: "Comer o tomar algo",
    10: "Buscar o dejar a algo",
    11: "De compras",
    12: "Tramites",
    13: "Recreacion",
    14: "Otra"
}

cols_proposito = [
    "proposito", "propositovc"
]
for col in cols_proposito:
    viaje[col] = viaje[col].map(mapa_proposito)
print(viaje["proposito"].value_counts())
print(viaje["propositovc"].value_counts())

proposito
Volver a casa               475
Trabajo                     208
Buscar o dejar a alguien     98
Estudio                      75
De compras                   64
Recreacion                   28
De salud                     16
Tramites                     14
Otra                          8
Visitar a alguien             8
Buscar o dejar a algo         4
Comer o tomar algo            2
Name: count, dtype: int64
propositovc
Trabajo                     194
Buscar o dejar a alguien     84
Estudio                      71
De compras                   58
Recreacion                   27
De salud                     14
Otra                          9
Tramites                      9
Visitar a alguien             6
Buscar o dejar a algo         2
Comer o tomar algo            1
Name: count, dtype: int64

In [179]:
viaje["actividadempresa"].value_counts()

actividadempresa
5.0    45
4.0    42
2.0    35
1.0    26
3.0    20
7.0    19
8.0    19
6.0     2
Name: count, dtype: int64

In [180]:
mapa_actividadempresa = {
    1: "Industria",
    2: "Comercio",
    3: "Salud",
    4: "Educacion",
    5: "Servicios",
    6: "Habitacional",
    7: "Sector Publico",
    8: "Otro"
}
viaje["actividadempresa"] = viaje["actividadempresa"].map(mapa_actividadempresa)
viaje["actividadempresa"].value_counts()

actividadempresa
Servicios         45
Educacion         42
Comercio          35
Industria         26
Salud             20
Sector Publico    19
Otro              19
Habitacional       2
Name: count, dtype: int64

In [181]:
viaje["tipoasiento"].value_counts()

tipoasiento
1.0    388
2.0    150
Name: count, dtype: int64

In [182]:
mapa_tipoasiento = {
    1: "Chofer",
    2: "Pasajero"
}
viaje["tipoasiento"] = viaje["tipoasiento"].map(mapa_tipoasiento)
viaje["tipoasiento"].value_counts()

tipoasiento
Chofer      388
Pasajero    150
Name: count, dtype: int64

In [183]:
viaje["modoetapa1"].value_counts()

modoetapa1
1     534
13    247
7      96
8      53
3      43
5      15
9       5
2       4
6       2
12      1
Name: count, dtype: int64

In [184]:
mapa_modoetapa1 = {
    1: "Auto",
    2: "Motocicleta",
    3: "Bicicleta",
    4: "Bus",
    5: "Bus institucional",
    6: "Bus interurbano o rural",
    7: "Taxi colectivo",
    8: "Taxi o radiotaxi",
    9: "Furgon escolar como pasajero",
    10: "Furgon escolar como pasajero",
    11: "Aplicaciones (Uber, Cabify, etc)",
    12: "Servicio informal",
    13: "Enteramente a pie"
}
viaje["modoetapa1"] = viaje["modoetapa1"].map(mapa_modoetapa1)
viaje["modoetapa1"].value_counts()

modoetapa1
Auto                            534
Enteramente a pie               247
Taxi colectivo                   96
Taxi o radiotaxi                 53
Bicicleta                        43
Bus institucional                15
Furgon escolar como pasajero      5
Motocicleta                       4
Bus interurbano o rural           2
Servicio informal                 1
Name: count, dtype: int64

In [185]:
viaje["periodo"].value_counts()

periodo
2    369
1    291
3    196
4     86
5     58
Name: count, dtype: int64

In [186]:
mapa_periodo = {
    1: "Punta mañana (7:30-10-30)",
    2: "Fuera de Punta (10:30-11:30, 14:00-18:00)",
    3: "Mediodia (11:30-14:00)",
    4: "Punta Tarde (18:00-20:00)",
    5: "Resto"
}
viaje["periodo"] = viaje["periodo"].map(mapa_periodo)
viaje["periodo"].value_counts()

periodo
Fuera de Punta (10:30-11:30, 14:00-18:00)    369
Punta mañana (7:30-10-30)                    291
Mediodia (11:30-14:00)                       196
Punta Tarde (18:00-20:00)                     86
Resto                                         58
Name: count, dtype: int64

In [187]:
viaje["modoagregado"].value_counts()

modoagregado
3    612
1    247
4     98
2     43
Name: count, dtype: int64

In [188]:
mapa_modoagregado = {
    1: "Caminata",
    2: "Bicicleta",
    3: "Transporte privado",
    4: "Trasnporte publico"
}
viaje["modoagregado"] = viaje["modoagregado"].map(mapa_modoagregado)
viaje["modoagregado"].value_counts()

modoagregado
Transporte privado    612
Caminata              247
Trasnporte publico     98
Bicicleta              43
Name: count, dtype: int64

In [189]:
viaje["propositoagregado"].value_counts()

propositoagregado
3    717
1    208
2     75
Name: count, dtype: int64

In [190]:
mapa_propositoagregado = {
    1: "Trabajo",
    2: "Estudio",
    3: "Otros"
}
viaje["propositoagregado"] = viaje["propositoagregado"].map(mapa_propositoagregado)
viaje["propositoagregado"].value_counts()

propositoagregado
Otros      717
Trabajo    208
Estudio     75
Name: count, dtype: int64

#### 'Etapa'

In [191]:
etapa["modoetapa"].value_counts()

modoetapa
1     534
13    247
7      96
8      53
3      43
5      15
9       5
2       4
6       2
12      1
Name: count, dtype: int64

In [192]:
mapa_modoetapa = {
    1: "Auto",
    2: "Motocicleta",
    3: "Bicicleta",
    4: "Bus",
    5: "Bus institucional",
    6: "Bus interurbano o rural",
    7: "Taxi colectivo",
    8: "Taxi o radiotaxi",
    9: "Furgon escolar como pasajero",
    10: "Furgon escolar como pasajero",
    11: "Aplicaciones (Uber, Cabify, etc)",
    12: "Servicio informal",
    13: "Enteramente a pie"
}
etapa["modoetapa"] = etapa["modoetapa"].map(mapa_modoetapa)
etapa["modoetapa"].value_counts()

modoetapa
Auto                            534
Enteramente a pie               247
Taxi colectivo                   96
Taxi o radiotaxi                 53
Bicicleta                        43
Bus institucional                15
Furgon escolar como pasajero      5
Motocicleta                       4
Bus interurbano o rural           2
Servicio informal                 1
Name: count, dtype: int64

In [193]:
etapa["tipoasiento"].value_counts()

tipoasiento
1.0    388
2.0    150
Name: count, dtype: int64

In [194]:
mapa_tipoasiento = {
    1: "Chofer",
    2: "Pasajero"
}
etapa["tipoasiento"] = etapa["tipoasiento"].map(mapa_tipoasiento)
etapa["tipoasiento"].value_counts()

tipoasiento
Chofer      388
Pasajero    150
Name: count, dtype: int64

In [195]:
etapa["situacionbicicleta"].value_counts()

situacionbicicleta
1.0    43
Name: count, dtype: int64

In [196]:
mapa_situacionbicicleta = {
    1: "Propia (del hogar)",
    2: "Prestada",
    3: "Arrendada",
    4: "De la empresa o institucion"
}
etapa["situacionbicicleta"] = etapa["situacionbicicleta"].map(mapa_situacionbicicleta)
etapa["situacionbicicleta"].value_counts()

situacionbicicleta
Propia (del hogar)    43
Name: count, dtype: int64

In [197]:
etapa["usohabitualbicicleta"].value_counts()

usohabitualbicicleta
1.0    43
Name: count, dtype: int64

In [198]:
mapa_usohabitualbicicleta = {
    1: "Si",
    2: "No"
}
etapa["usohabitualbicicleta"] = etapa["usohabitualbicicleta"].map(mapa_usohabitualbicicleta)
etapa["usohabitualbicicleta"].value_counts()

usohabitualbicicleta
Si    43
Name: count, dtype: int64

In [199]:
etapa["usociclovia"].value_counts()

usociclovia
2.0    31
3.0    12
Name: count, dtype: int64

In [200]:
mapa_usociclovia = {
    1: "Si, en todo el trayecto",
    2: "Si, en parte del trayecto",
    3: "No"
}
etapa["usociclovia"] = etapa["usociclovia"].map(mapa_usociclovia)
etapa["usociclovia"].value_counts()

usociclovia
Si, en parte del trayecto    31
No                           12
Name: count, dtype: int64

In [201]:
etapa["motivonousociclovia"].value_counts()

motivonousociclovia
1.0    40
2.0     2
3.0     1
Name: count, dtype: int64

In [202]:
mapa_motivonousociclovia = {
    1: "No existia en la ruta",
    2: "El acceso a la ciclovia era complicado",
    3: "El diseño es poco atractivo (funcional)",
    4: "Otro motivo"
}
etapa["motivonousociclovia"] = etapa["motivonousociclovia"].map(mapa_motivonousociclovia)
etapa["motivonousociclovia"].value_counts()

motivonousociclovia
No existia en la ruta                      40
El acceso a la ciclovia era complicado      2
El diseño es poco atractivo (funcional)     1
Name: count, dtype: int64

In [203]:
etapa["vehiculosnouso"].value_counts()

vehiculosnouso
2.0    125
1.0     24
Name: count, dtype: int64

In [204]:
mapa_vehiculosnouso = {
    1: "Si",
    2: "No"
}
etapa["vehiculosnouso"] = etapa["vehiculosnouso"].map(mapa_vehiculosnouso)
etapa["vehiculosnouso"].value_counts()

vehiculosnouso
No    125
Si     24
Name: count, dtype: int64

In [205]:
etapa["pagotarifaviaje"].value_counts()

pagotarifaviaje
2.0    124
1.0     19
6.0      5
5.0      4
Name: count, dtype: int64

In [206]:
mapa_pagotarifaviaje = {
    1: "Si, escolar",
    2: "Si, adulto",
    3: "Si, adulto mayor", 
    4: "Si, otro",
    5: "No, pase liberado",
    6: "No, gratis o niño"
}
etapa["pagotarifaviaje"] = etapa["pagotarifaviaje"].map(mapa_pagotarifaviaje)
etapa["pagotarifaviaje"].value_counts()

pagotarifaviaje
Si, adulto           124
Si, escolar           19
No, gratis o niño      5
No, pase liberado      4
Name: count, dtype: int64

In [207]:
etapa["lugarbajovehiculo"].value_counts()

lugarbajovehiculo
1.0    108
2.0     44
Name: count, dtype: int64

In [208]:
mapa_lugarbajovehiculo = {
    1: "En el lugar de destino",
    2: "En otro lugar"
}
etapa["lugarbajovehiculo"] = etapa["lugarbajovehiculo"].map(mapa_lugarbajovehiculo)
etapa["lugarbajovehiculo"].value_counts()

lugarbajovehiculo
En el lugar de destino    108
En otro lugar              44
Name: count, dtype: int64

In [209]:
etapa["montopagoestacionamiento"].value_counts()

montopagoestacionamiento
0.0    401
9.0     24
Name: count, dtype: int64

In [210]:
mapa_montopagoestacionamiento = {
    0: "No pago",
    9: "No sabe/ No se acuerda"
}
etapa["montopagoestacionamiento"] = etapa["montopagoestacionamiento"].map(mapa_montopagoestacionamiento)
etapa["montopagoestacionamiento"].value_counts()

montopagoestacionamiento
No pago                   401
No sabe/ No se acuerda     24
Name: count, dtype: int64

In [211]:
etapa["dondeestacionovehiculo"].value_counts()

dondeestacionovehiculo
1.0    421
3.0    109
2.0      4
4.0      4
Name: count, dtype: int64

In [212]:
mapa_dondeestacionovehiculo = {
    1: "En el lugar de destino",
    2: "En otro lugar",
    3: "No fue estacionado",
    4: "No sabe o no respoonde"
}
etapa["dondeestacionovehiculo"] = etapa["dondeestacionovehiculo"].map(mapa_dondeestacionovehiculo)
etapa["dondeestacionovehiculo"].value_counts()

dondeestacionovehiculo
En el lugar de destino    421
No fue estacionado        109
En otro lugar               4
No sabe o no respoonde      4
Name: count, dtype: int64

In [213]:
etapa["lugarestacionovehiculo"].value_counts()

lugarestacionovehiculo
1.0    244
2.0     81
5.0     49
4.0     30
3.0     15
6.0      6
Name: count, dtype: int64

In [214]:
mapa_lugarestacionovehiculo = {
    1: "En el lugar de residencia",
    2: "En el lugar de trabajo",
    3: "En edificio de estacionamentos",
    4: "En playa de estacionamientos",
    5: "En la calle",
    6: "No sabe o no responde"
}
etapa["lugarestacionovehiculo"] = etapa["lugarestacionovehiculo"].map(mapa_lugarestacionovehiculo)
etapa["lugarestacionovehiculo"].value_counts()

lugarestacionovehiculo
En el lugar de residencia         244
En el lugar de trabajo             81
En la calle                        49
En playa de estacionamientos       30
En edificio de estacionamentos     15
No sabe o no responde               6
Name: count, dtype: int64

In [215]:
etapa["lugarestacionobicicleta"].value_counts()

lugarestacionobicicleta
2.0    27
1.0    16
Name: count, dtype: int64

In [216]:
mapa_lugarestacionobicicleta = {
    1: "Estacionamiento formal",
    2: "Estacionamiento informal"
}
etapa["lugarestacionobicicleta"] = etapa["lugarestacionobicicleta"].map(mapa_lugarestacionobicicleta)
etapa["lugarestacionobicicleta"].value_counts()

lugarestacionobicicleta
Estacionamiento informal    27
Estacionamiento formal      16
Name: count, dtype: int64

#### 'Vehiculo'

In [217]:
vehiculo["tipovehiculo"].value_counts()

tipovehiculo
1    227
3    109
8      9
4      7
6      4
7      2
2      1
Name: count, dtype: int64

In [218]:
mapa_tipovehiculo = {
    1: "Auto",
    2: "Motocicleta",
    3: "Camioneta o vehiculo todo terreno",
    4: "Van o minivan",
    5: "Furgon escolar",
    6: "Furgon utilitario",
    7: "Taxi, Radiotaxi, taxi colectivo",
    8: "Camion",
    9: "Bus o Taxibus",
    10: "Otro vahiculo motorizado"
}
vehiculo["tipovehiculo"] = vehiculo["tipovehiculo"].map(mapa_tipovehiculo)
vehiculo["tipovehiculo"].value_counts()

tipovehiculo
Auto                                 227
Camioneta o vehiculo todo terreno    109
Camion                                 9
Van o minivan                          7
Furgon utilitario                      4
Taxi, Radiotaxi, taxi colectivo        2
Motocicleta                            1
Name: count, dtype: int64

In [219]:
vehiculo["combustiblevehiculo"].value_counts()

combustiblevehiculo
1    250
2    106
4      2
3      1
Name: count, dtype: int64

In [220]:
mapa_combustiblevehiculo = {
    1: "Gasolina",
    2: "Diesel",
    3: "Electricidad",
    4: "Hibrido"
}
vehiculo["combustiblevehiculo"] = vehiculo["combustiblevehiculo"].map(mapa_combustiblevehiculo)
vehiculo["combustiblevehiculo"].value_counts()

combustiblevehiculo
Gasolina        250
Diesel          106
Hibrido           2
Electricidad      1
Name: count, dtype: int64

In [221]:
vehiculo["situacionvehiculo"].value_counts()

situacionvehiculo
1    354
2      4
4      1
Name: count, dtype: int64

In [222]:
mapa_situacionvehiculo = {
    1: "Propia (del hogar)",
    2: "Prestada",
    3: "Arrendada",
    4: "De la empresa o institucion"    
}
vehiculo["situacionvehiculo"] = vehiculo["situacionvehiculo"].map(mapa_situacionvehiculo)
vehiculo["situacionvehiculo"].value_counts()

situacionvehiculo
Propia (del hogar)             354
Prestada                         4
De la empresa o institucion      1
Name: count, dtype: int64

In [223]:
vehiculo["vehiculotrabajo"].value_counts()

vehiculotrabajo
2    295
1     64
Name: count, dtype: int64

In [224]:
mapa_vehiculotrabajo = {
    1: "Si",
    2: "No"
}
vehiculo["vehiculotrabajo"] = vehiculo["vehiculotrabajo"].map(mapa_vehiculotrabajo)
vehiculo["vehiculotrabajo"].value_counts()

vehiculotrabajo
No    295
Si     64
Name: count, dtype: int64

#### 'Bicicleta'

In [225]:
bicicleta["tipobicicleta"].value_counts()

tipobicicleta
1    156
4     28
2      8
3      2
6      2
Name: count, dtype: int64

In [226]:
mapa_tipobicicleta = {
    1: "Bicicleta urbana",
    2: "Bicicleta ruta",
    3: "Bicicleta de triatlon y contrareloj",
    4: "Bicicleta montaña",
    5: "Bicicleta plegable",
    6: "Bicicleta BMX",
    7: "Bicicleta de paseo",
    8: "Bicicleta hibrida",
    9: "Bicicleta de pista o circuito",
    10: "Bicicleta etectrica o scooter",
    11: "Bicicleta gravel"
}
bicicleta["tipobicicleta"] = bicicleta["tipobicicleta"].map(mapa_tipobicicleta)
bicicleta["tipobicicleta"].value_counts()

tipobicicleta
Bicicleta urbana                       156
Bicicleta montaña                       28
Bicicleta ruta                           8
Bicicleta de triatlon y contrareloj      2
Bicicleta BMX                            2
Name: count, dtype: int64

In [227]:
bicicleta["situacionbicicleta"].value_counts()

situacionbicicleta
1    194
3      2
Name: count, dtype: int64

In [228]:
mapa_situacionbicicleta = {
    1: "Propia (del hogar)",
    2: "Prestada",
    3: "Arrendada",
    4: "De la empresa o institucion"    
}
bicicleta["situacionbicicleta"] = bicicleta["situacionbicicleta"].map(mapa_situacionbicicleta)
bicicleta["situacionbicicleta"].value_counts()

situacionbicicleta
Propia (del hogar)    194
Arrendada               2
Name: count, dtype: int64

In [229]:
bicicleta["bicicletatrabajo"].value_counts()

bicicletatrabajo
2    179
1     17
Name: count, dtype: int64

In [230]:
mapa_situacionbicicleta = {
    1: "Si",
    2: "No"    
}
bicicleta["bicicletatrabajo"] = bicicleta["bicicletatrabajo"].map(mapa_situacionbicicleta)
bicicleta["bicicletatrabajo"].value_counts()

bicicletatrabajo
No    179
Si     17
Name: count, dtype: int64

### Estandarizacion de columnas categoricas

#### 'Hogar'

In [231]:
hogar["direccioncomuna"].unique()

array(['NATALES', 'PUERTO NATALES', 'NBATALES'], dtype=object)

In [232]:
hogar["direccioncomuna"].shape

(518,)

In [233]:
reemplazos_calles = {
    "NATALES": "Puerto natales",
    "PUERTO NATALES": "Puerto natales",
    "NBATALES": "Puerto natales"
}
hogar["direccioncomuna"] = hogar["direccioncomuna"].replace(reemplazos_calles)

In [234]:
hogar["direccioncomuna"].value_counts()

direccioncomuna
Puerto natales    518
Name: count, dtype: int64

In [235]:
hogar["sector_hogar"].unique()

array(['4.Borde Costero', '3.Centro', '1.Residencial Norte',
       '2.Residencial Central', '6.Residencial Oriente',
       '5.Residencial Sur', '7.Residencial Perimetral'], dtype=object)

In [236]:
hogar["sector_hogar"].shape

(518,)

In [237]:
hogar["sector_hogar"] = hogar["sector_hogar"].str.replace(r'^\d+\.\s*', '', regex=True)

In [238]:
hogar["sector_hogar"].shape

(518,)

In [239]:
hogar["sector_hogar"].value_counts()

sector_hogar
Residencial Sur           158
Residencial Central        89
Residencial Perimetral     88
Centro                     64
Residencial Norte          57
Borde Costero              42
Residencial Oriente        20
Name: count, dtype: int64

In [240]:
hogar["comunaviviendaanterior_e"].value_counts()

comunaviviendaanterior_e
SANTIAGO               4
PUERTO MONTT           3
NATALES                2
VALPARAISO             2
PTO MONTT              2
TEMUCO                 2
COLOMBIA               2
LAGO RANCO             1
CHILLAN                1
OSORNO                 1
BOGOTA                 1
CALDERA                1
SANTA CRUZ             1
VALDIVIA               1
COCHABAMBA, BOLIVIA    1
EXTRANJERO             1
Name: count, dtype: int64

In [241]:
hogar["comunaviviendaanterior_e"].shape

(518,)

In [242]:
comuna_anterior = {
    "PTO MONTT": "PUERTO MONTT",
    "COLOMBIA": "EXTRANJERO",
    "BOGOTA": "EXTRANJERO",
    "COCHABAMBA, BOLIVIA": "EXTRANJERO",
}
hogar["comunaviviendaanterior_e"] = hogar["comunaviviendaanterior_e"].replace(comuna_anterior)

In [243]:
hogar["comunaviviendaanterior_e"].shape

(518,)

In [244]:
hogar["comunaviviendaanterior_e"] = hogar["comunaviviendaanterior_e"].str.capitalize()

In [245]:
hogar["comunaviviendaanterior_e"].value_counts()

comunaviviendaanterior_e
Extranjero      5
Puerto montt    5
Santiago        4
Valparaiso      2
Temuco          2
Natales         2
Lago ranco      1
Osorno          1
Caldera         1
Chillan         1
Santa cruz      1
Valdivia        1
Name: count, dtype: int64

In [246]:
hogar["sector"] = hogar["sector"].str.replace(r'^\d+\.\s*', '', regex=True)

In [247]:
hogar["sector"].value_counts()

sector
Residencial Sur           158
Residencial Central        89
Residencial Perimetral     88
Centro                     64
Residencial Norte          57
Borde Costero              42
Residencial Oriente        20
Name: count, dtype: int64

#### 'Persona'

In [248]:
persona["actividadotro_e"].unique()

array([nan, 'INDEPENDIENTE', 'LICENCIA MEDICA', 'BUSCANDO TRABAJO',
       'PENCIONADA', 'BEBE', 'RECIEN NACIDO', 'MENOR DE EDAD',
       'FREELANCE', 'VIUDA', 'DE PASO POR LA CIUDA', 'PESCA ARTESANAL',
       'LACTANTE', 'TRABAJO ESPORADICO', 'POST NATAL', 'PREESCOLAR',
       'PENSION', 'SE ESTA TRAMITANDO', 'BEBE DE 2 AÃ\x91OS', 'VIUDO',
       'CUIDADO DE FAMILIAR', 'NO INGRESA A JARDIN', 'VACACIONES',
       'PENSIONADO', 'PENSIONADA', 'VENDE POR INTERNET', 'ESPORADICO',
       'EN CAMA'], dtype=object)

In [249]:
persona["actividadotro_e"].shape

(1000,)

In [250]:
mapa_ocupacion = {
    'INDEPENDIENTE': 'Trabajo independiente',
    'FREELANCE': 'Trabajo esporádico/freelance',
    'TRABAJO ESPORADICO': 'Trabajo esporádico/freelance',
    'VENDE POR INTERNET': 'Trabajo esporádico/freelance',
    'ESPORADICO': 'Trabajo esporádico/freelance',
    'BUSCANDO TRABAJO': 'Desempleo/Búsqueda activa',
    'LICENCIA MEDICA': 'Licencia/Postnatal',
    'POST NATAL': 'Licencia/Postnatal',
    'PENSION': 'Pensionado/a',
    'PENSIONADA': 'Pensionado/a',
    'PENSIONADO': 'Pensionado/a',
    'PENCIONADA': 'Pensionado/a',  
    'BEBE': 'Lactante/Bebé',
    'RECIEN NACIDO': 'Lactante/Bebé',
    'BEBE DE 2 AÃ\x91OS': 'Lactante/Bebé',
    'LACTANTE': 'Lactante/Bebé',
    'PREESCOLAR': 'Estudia/Menor de edad',
    'NO INGRESA A JARDIN': 'Estudia/Menor de edad',
    'MENOR DE EDAD': 'Estudia/Menor de edad',
    'VIUDA': 'Sin actividad económica/Cuidado',
    'VIUDO': 'Sin actividad económica/Cuidado',
    'CUIDADO DE FAMILIAR': 'Cuidado',
    'SE ESTA TRAMITANDO': 'Otro/No clasificable',
    'DE PASO POR LA CIUDA': 'Otro/No clasificable', 
    'VACACIONES': 'Otro/No clasificable',
    'EN CAMA': 'Enfermedad/Reposo'
}

In [251]:
persona["actividadotro_e"] = persona["actividadotro_e"].map(mapa_ocupacion)

In [252]:
persona["actividadotro_e"].value_counts()

actividadotro_e
Lactante/Bebé                      16
Licencia/Postnatal                  7
Trabajo esporádico/freelance        6
Sin actividad económica/Cuidado     6
Pensionado/a                        4
Estudia/Menor de edad               3
Otro/No clasificable                3
Desempleo/Búsqueda activa           1
Trabajo independiente               1
Cuidado                             1
Enfermedad/Reposo                   1
Name: count, dtype: int64

In [253]:
persona["lugartrabajocomuna"].unique()

array([nan, 'NATALES', 'PUNTA ARENAS', 'PUERTO NATALES', 'SAN GREGORIO',
       'NATALAES', 'TORRES DEL PAINE', 'NTALES'], dtype=object)

In [254]:
mapa_comunas = {
    'NATALES': 'PUERTO NATALES',
    'PUERTO NATALES': 'PUERTO NATALES',
    'NATALAES': 'PUERTO NATALES', 
    'NTALES': 'PUERTO NATALES',   
    'PUNTA ARENAS': 'PUNTA ARENAS',
    'SAN GREGORIO': 'SAN GREGORIO',
    'TORRES DEL PAINE': 'TORRES DEL PAINE'
}
persona["lugartrabajocomuna"] = persona["lugartrabajocomuna"].map(mapa_comunas)

In [255]:
persona["lugartrabajocomuna"] = persona["lugartrabajocomuna"].str.capitalize()

In [256]:
persona["lugartrabajocomuna"].value_counts()

lugartrabajocomuna
Puerto natales      483
Torres del paine      3
Punta arenas          2
San gregorio          1
Name: count, dtype: int64

In [257]:
persona["lugarestudiocomuna"].unique()

array([nan, 'NATALES', 'MAGALLANES', 'PUERTO NATALES', 'PUNTA ARENAS',
       'INACAP', 'IAC', '.', 'TNATALES'], dtype=object)

In [258]:
mapa_comuna = {
    "NATALES": "Puerto Natales",
    "MAGALLANES": "Punta Arenas",
    "PUERTO NATALES": "Puerto Natales",
    "PUNTA ARENAS": "Punta Arenas",
    "INACAP": "Punta Arenas",
    "IAC": "Desconocido",
    ".": "Desconocido",
    "TNATALES": "Puerto Natales"
}
persona["lugarestudiocomuna"] = persona["lugarestudiocomuna"].replace(mapa_comuna)

In [259]:
persona["lugarestudiocomuna"].value_counts()

lugarestudiocomuna
Puerto Natales    162
Punta Arenas        6
Desconocido         2
Name: count, dtype: int64

In [260]:
persona["motivonoviaje_e"].unique()

array([nan, 'DIFICULTAD PSICOMOTO', 'CUIDADO MADRE', 'CUIDAR A HIJO',
       'CUIDADO HIJO', 'RECIEN NACIDO', 'NO SALE (TIEMPO MALO',
       'CUMPLEAÃ\x91OS DE MAMA', 'CUMPLEAÃ\x91OS', 'CUARENTA POR COVID',
       'CUARENTENA POR COVID', 'HOSPITALIZADO', 'NO ACOSTUMBRA SALIR',
       'LACTANTE', 'VIAJE A PUNTA ARENAS', 'CUIDADO DEL HIJO',
       'VACAIONES', 'VACACIONES', 'BEBE DE 2 AÃ\x91OS',
       'CUIDAR DE SUS PADRES', 'CUIDAR A SU PADRE', 'CUIDAR SU SALUD'],
      dtype=object)

In [261]:
mapa_viaje = {
    'DIFICULTAD PSICOMOTO': "Movilidad reducida", 
    'CUIDADO MADRE': "Cuidado de un familiar", 
    'CUIDAR A HIJO': "Cuidado de un familiar",
    'CUIDADO HIJO': "Cuidado de un familiar", 
    'RECIEN NACIDO': "Cuidado de un familiar", 
    'NO SALE (TIEMPO MALO': 'Factores externos (clima)',
    'CUMPLEAÃ\x91OS DE MAMA': 'Evento familiar', 
    'CUMPLEAÃ\x91OS': 'Evento familiar', 
    'CUARENTA POR COVID': 'COVID/Cuarentena',
    'CUARENTENA POR COVID': 'COVID/Cuarentena', 
    'HOSPITALIZADO': "Problemas de salud", 
    'NO ACOSTUMBRA SALIR': "Preferencia personal" ,
    'LACTANTE': "Problemas de salud", 
    'VIAJE A PUNTA ARENAS': "Viaje", 
    'CUIDADO DEL HIJO': "Problemas de salud",
    'VACAIONES': "Vacaciones", 
    'VACACIONES': "Vacaciones", 
    'BEBE DE 2 AÃ\x91OS': "Cuidado de un familiar",
    'CUIDAR DE SUS PADRES': "Cuidado de un familiar", 
    'CUIDAR A SU PADRE': "Cuidado de un familiar",
    'CUIDAR SU SALUD': "Problemas de salud" 
}
persona["motivonoviaje_e"] = persona["motivonoviaje_e"].replace(mapa_viaje)

In [262]:
persona["motivonoviaje_e"].value_counts()

motivonoviaje_e
Cuidado de un familiar       8
Problemas de salud           6
COVID/Cuarentena             5
Vacaciones                   4
Preferencia personal         2
Evento familiar              2
Movilidad reducida           1
Factores externos (clima)    1
Viaje                        1
Name: count, dtype: int64

In [263]:
persona["saludcomunaesp"].unique()

array([nan, 'SANTIAGO', 'PUNTA ARENAS', 'ES UN BEBE', 'ARGENTINA',
       'VALDIVIA'], dtype=object)

In [264]:
mapa_saludcomuna = {
    'SANTIAGO': 'Santiago', 
    'PUNTA ARENAS': 'Punta Arenas', 
    'ES UN BEBE': 'Desconocido', 
    'ARGENTINA': 'Argentina',
    'VALDIVIA': 'Valdivia'
}
persona["saludcomunaesp"] = persona["saludcomunaesp"].replace(mapa_saludcomuna)

In [265]:
persona["saludcomunaesp"].value_counts()

saludcomunaesp
Punta Arenas    13
Santiago         4
Argentina        2
Valdivia         2
Desconocido      1
Name: count, dtype: int64

#### 'Viaje"

In [266]:
viaje["origenactividadcomuna"].unique()

array(['NATALES', 'MAGALLANES', 'PUERTO NATALES', 'NATALE', 'NTALES',
       'CERRO CASTILLO', 'TORRES DEL PAINE', 'T.DEL PAINE',
       'T. DEL PAINE'], dtype=object)

In [267]:
mapa_origenactividad = {
    "NATALES": "Puerto Natales",
    "MAGALLANES": "Punta Arenas",
    "PUERTO NATALES": "Puerto Natales",
    "NATALE": "Puerto Natales",
    "NTALES": "Puerto Natales",
    "CERRO CASTILLO": "Cerro Castillo",
    "TORRES DEL PAINE": "Torres del Paine",
    "T.DEL PAINE": "Torres del Paine",
    "T. DEL PAINE": "Torres del Paine"
}

viaje["origenactividadcomuna"] = viaje["origenactividadcomuna"].replace(mapa_origenactividad)

In [268]:
viaje["origenactividadcomuna"].unique()

array(['Puerto Natales', 'Punta Arenas', 'Cerro Castillo',
       'Torres del Paine'], dtype=object)

In [269]:
viaje["lugaractividadcomuna"].unique()

array(['NATALES', 'MAGALLANES', 'PUERTO NATALES', 'NATALE',
       'PUNTA ARENAS', 'NTALES', 'CERRO CASTILLO', 'TORRES DEL PAINE',
       'T.DEL PAINE', 'T. DEL PAINE'], dtype=object)

In [270]:
mapa_lugaractividad = {
    'NATALES' : 'Puerto natales', 
    'MAGALLANES': 'Punta Arenas', 
    'PUERTO NATALES': 'Puerto natales', 
    'NATALE': 'Puerto natales',
    'PUNTA ARENAS': 'Puerto Arenas', 
    'NTALES': 'Puerto natales', 
    'CERRO CASTILLO': 'Cerro Castillo', 
    'TORRES DEL PAINE': 'Torres del Paine',
    'T.DEL PAINE': 'Torres del Paine', 
    'T. DEL PAINE': 'Torres del Paine'
}
viaje["lugaractividadcomuna"] = viaje["lugaractividadcomuna"].replace(mapa_lugaractividad)

In [271]:
viaje["lugaractividadcomuna"].unique()

array(['Puerto natales', 'Punta Arenas', 'Puerto Arenas',
       'Cerro Castillo', 'Torres del Paine'], dtype=object)

In [272]:
viaje["sector_origenviaje"].unique()

array(['4.Borde Costero', '3.Centro', '5.Residencial Sur',
       '1.Residencial Norte', '0.Zona Externa', '2.Residencial Central',
       '6.Residencial Oriente', '7.Residencial Perimetral'], dtype=object)

In [273]:
viaje["sector_origenviaje"].str.replace(r'^\d+\.\s*', '', regex=True)

0        Borde Costero
1               Centro
2        Borde Costero
3               Centro
4        Borde Costero
            ...
995    Residencial Sur
996             Centro
997    Residencial Sur
998    Residencial Sur
999             Centro
Name: sector_origenviaje, Length: 1000, dtype: object

In [274]:
viaje = viaje.drop(columns="coord_destinoviaje")

In [275]:
viaje["sector_destinoviaje"] = viaje["sector_destinoviaje"].str.replace(r'^\d+\.\s*', '', regex=True)

In [276]:
viaje["sector_destinoviaje"].unique()

array(['Centro', 'Borde Costero', 'Residencial Sur', 'Residencial Norte',
       'Zona Externa', 'Residencial Central', 'Residencial Oriente',
       'Residencial Perimetral'], dtype=object)

In [277]:
viaje["horasalida"]

0       30-12-1899 9:50:00
1      30-12-1899 13:00:00
2      30-12-1899 14:50:00
3      30-12-1899 19:30:00
4      30-12-1899 11:00:00
              ...
995     30-12-1899 7:40:00
996     30-12-1899 8:00:00
997     30-12-1899 8:55:00
998    30-12-1899 12:45:00
999    30-12-1899 13:05:00
Name: horasalida, Length: 1000, dtype: object

In [278]:
viaje["horallegada"].unique()

array(['30-12-1899 10:02:00', '30-12-1899 13:15:00',
       '30-12-1899 15:00:00', '30-12-1899 19:40:00',
       '30-12-1899 11:15:00', '30-12-1899 12:30:00', '30-12-1899 7:55:00',
       '30-12-1899 13:10:00', '30-12-1899 13:20:00',
       '30-12-1899 14:15:00', '30-12-1899 17:20:00',
       '30-12-1899 17:30:00', '30-12-1899 19:10:00',
       '30-12-1899 19:20:00', '30-12-1899 20:20:00',
       '30-12-1899 20:30:00', '30-12-1899 7:50:00', '30-12-1899 12:05:00',
       '30-12-1899 7:45:00', '30-12-1899 8:05:00', '30-12-1899 8:50:00',
       '30-12-1899 9:00:00', '30-12-1899 9:57:00', '30-12-1899 11:00:00',
       '30-12-1899 12:45:00', '30-12-1899 14:10:00',
       '30-12-1899 14:20:00', '30-12-1899 14:35:00',
       '30-12-1899 14:45:00', '30-12-1899 15:55:00',
       '30-12-1899 16:15:00', '30-12-1899 18:00:00',
       '30-12-1899 18:10:00', '30-12-1899 13:05:00',
       '30-12-1899 14:25:00', '30-12-1899 16:10:00', '30-12-1899 8:55:00',
       '30-12-1899 19:05:00', '30-12-1899 13:55:00',
       '30-12-1899 18:55:00', '30-12-1899 8:45:00', '30-12-1899 14:00:00',
       '30-12-1899 18:15:00', '30-12-1899 8:15:00', '30-12-1899 17:15:00',
       '30-12-1899 7:58:00', '30-12-1899 8:10:00', '30-12-1899 12:58:00',
       '30-12-1899 10:20:00', '30-12-1899 18:40:00', '30-12-1899 8:00:00',
       '30-12-1899 17:40:00', '30-12-1899 23:59:00',
       '30-12-1899 17:35:00', '30-12-1899 14:05:00',
       '30-12-1899 17:05:00', '30-12-1899 7:35:00', '30-12-1899 10:15:00',
       '30-12-1899 10:45:00', '30-12-1899 16:30:00', '30-12-1899 9:05:00',
       '30-12-1899 9:18:00', '30-12-1899 11:40:00', '30-12-1899 13:00:00',
       '30-12-1899 14:40:00', '30-12-1899 19:15:00',
       '30-12-1899 11:20:00', '30-12-1899 12:00:00',
       '30-12-1899 10:25:00', '30-12-1899 11:10:00', '30-12-1899 9:40:00',
       '30-12-1899 10:03:00', '30-12-1899 17:10:00', '30-12-1899 8:20:00',
       '30-12-1899 8:35:00', '30-12-1899 16:20:00', '30-12-1899 14:38:00',
       '30-12-1899 20:00:00', '30-12-1899 21:15:00',
       '30-12-1899 22:15:00', '30-12-1899 10:55:00',
       '30-12-1899 12:15:00', '30-12-1899 12:50:00',
       '30-12-1899 17:07:00', '30-12-1899 19:07:00',
       '30-12-1899 11:05:00', '30-12-1899 18:05:00',
       '30-12-1899 15:10:00', '30-12-1899 15:50:00',
       '30-12-1899 15:16:00', '30-12-1899 15:45:00',
       '30-12-1899 10:00:00', '30-12-1899 13:12:00',
       '30-12-1899 10:05:00', '30-12-1899 16:40:00',
       '30-12-1899 16:55:00', '30-12-1899 20:05:00',
       '30-12-1899 21:05:00', '30-12-1899 17:21:00',
       '30-12-1899 10:40:00', '30-12-1899 15:27:00',
       '30-12-1899 11:30:00', '30-12-1899 6:40:00', '30-12-1899 23:00:00',
       '30-12-1899 12:20:00', '30-12-1899 19:00:00',
       '30-12-1899 13:30:00', '30-12-1899 20:15:00',
       '30-12-1899 10:30:00', '30-12-1899 12:40:00',
       '30-12-1899 14:30:00', '30-12-1899 17:00:00',
       '30-12-1899 12:10:00', '30-12-1899 8:56:00', '30-12-1899 17:45:00',
       '30-12-1899 15:20:00', '30-12-1899 17:50:00', '30-12-1899 9:10:00',
       '30-12-1899 13:25:00', '30-12-1899 14:55:00',
       '30-12-1899 18:30:00', '30-12-1899 9:25:00', '30-12-1899 18:13:00',
       '30-12-1899 8:42:00', '30-12-1899 21:45:00', '30-12-1899 16:07:00',
       '30-12-1899 15:01:00', '30-12-1899 21:00:00',
       '30-12-1899 21:10:00', '30-12-1899 14:58:00', '30-12-1899 9:45:00',
       '30-12-1899 20:10:00', '30-12-1899 6:00:00', '30-12-1899 10:10:00',
       '30-12-1899 14:28:00', '30-12-1899 17:38:00',
       '30-12-1899 16:05:00', '30-12-1899 9:30:00', '30-12-1899 8:30:00',
       '30-12-1899 15:25:00', '30-12-1899 9:50:00', '30-12-1899 9:20:00',
       '30-12-1899 15:05:00', '30-12-1899 9:15:00', '30-12-1899 15:15:00',
       '30-12-1899 14:50:00', '30-12-1899 7:40:00', '30-12-1899 17:55:00',
       '30-12-1899 13:40:00', '30-12-1899 22:10:00',
       '30-12-1899 19:03:00', '30-12-1899 23:05:00',
       '30-12-1899 16:00:00', '30-12-1899 22:25:00',
       '30-12-1899 16:45:00', '30-12-1899 7:10:00', '30-12-1899 15:40:00',
       '30-12-1899 13:45:00', '30-12-1899 7:25:00', '30-12-1899 11:35:00',
       '30-12-1899 15:35:00', '30-12-1899 23:50:00',
       '30-12-1899 18:50:00', '30-12-1899 18:20:00',
       '30-12-1899 19:30:00', '30-12-1899 12:35:00',
       '30-12-1899 21:06:00', '30-12-1899 16:25:00',
       '30-12-1899 18:25:00', '30-12-1899 8:01:00', '30-12-1899 4:10:00',
       '30-12-1899 18:49:00', '30-12-1899 16:50:00',
       '30-12-1899 15:07:00', '30-12-1899 7:30:00', '30-12-1899 11:50:00',
       '30-12-1899 7:38:00', '30-12-1899 7:53:00', '30-12-1899 18:52:00',
       '30-12-1899 7:48:00', '30-12-1899 7:42:00', '30-12-1899 7:07:00',
       '30-12-1899 9:21:00', '30-12-1899 15:30:00', '30-12-1899 20:40:00',
       '30-12-1899 22:50:00', '30-12-1899 7:31:00', '30-12-1899 15:31:00',
       '30-12-1899 21:25:00', '30-12-1899 13:50:00',
       '30-12-1899 18:45:00', '30-12-1899 13:08:00',
       '30-12-1899 14:08:00', '30-12-1899 18:08:00',
       '30-12-1899 16:58:00', '30-12-1899 21:08:00',
       '30-12-1899 18:56:00', '30-12-1899 23:31:00',
       '30-12-1899 11:06:00', '30-12-1899 8:02:00', '30-12-1899 12:39:00',
       '30-12-1899 9:35:00', '30-12-1899 23:55:00', '30-12-1899 17:25:00',
       '30-12-1899 7:47:00', '30-12-1899 13:07:00', '30-12-1899 14:17:00',
       '30-12-1899 18:07:00', '30-12-1899 8:06:00', '30-12-1899 11:45:00',
       '30-12-1899 8:25:00', '30-12-1899 23:40:00', '30-12-1899 8:31:00',
       '30-12-1899 17:43:00', '30-12-1899 18:09:00',
       '30-12-1899 18:35:00', '30-12-1899 19:25:00',
       '30-12-1899 20:50:00', '30-12-1899 22:14:00',
       '30-12-1899 16:04:00', '30-12-1899 10:35:00', '30-12-1899 8:40:00',
       '30-12-1899 19:35:00', '30-12-1899 12:55:00',
       '30-12-1899 21:20:00', '30-12-1899 21:30:00',
       '30-12-1899 19:45:00', '30-12-1899 22:30:00'], dtype=object)

In [279]:
viaje["tiempoviaje"].unique()

array(['30-12-1899 0:12:00', '30-12-1899 0:15:00', '30-12-1899 0:10:00',
       '30-12-1899 0:08:00', '30-12-1899 0:05:00', '30-12-1899 0:40:00',
       '30-12-1899 0:09:00', '30-12-1899 0:20:00', '30-12-1899 0:45:00',
       '30-12-1899 0:07:00', '30-12-1899 0:30:00', '30-12-1899 0:13:00',
       '30-12-1899 0:19:00', '30-12-1899 0:25:00', '30-12-1899 0:03:00',
       '30-12-1899 0:14:00', '30-12-1899 0:17:00', '30-12-1899 0:16:00',
       '30-12-1899 0:02:00', '30-12-1899 0:01:00', '30-12-1899 0:06:00',
       '30-12-1899 0:35:00', '30-12-1899 3:30:00', '30-12-1899 2:05:00',
       '30-12-1899 1:00:00', '30-12-1899 0:21:00', '30-12-1899 0:23:00',
       '30-12-1899 0:18:00', '30-12-1899 4:57:00', '30-12-1899 1:27:00',
       '30-12-1899 0:57:00', '30-12-1899 0:58:00', '30-12-1899 4:50:00',
       '30-12-1899 2:10:00', '30-12-1899 0:04:00', '30-12-1899 4:00:00',
       '30-12-1899 2:50:00', '30-12-1899 1:15:00', '30-12-1899 1:10:00',
       '30-12-1899 0:50:00', '30-12-1899 1:25:00', '30-12-1899 3:25:00',
       '30-12-1899 1:55:00', '30-12-1899 4:25:00', '30-12-1899 0:47:00',
       '30-12-1899 1:30:00'], dtype=object)

In [280]:
viaje["horamediaviaje"]

0       30-12-1899 9:56:00
1      30-12-1899 13:07:30
2      30-12-1899 14:55:00
3      30-12-1899 19:35:00
4      30-12-1899 11:07:30
              ...
995     30-12-1899 7:47:30
996     30-12-1899 8:07:30
997     30-12-1899 8:57:30
998    30-12-1899 12:52:30
999    30-12-1899 13:07:30
Name: horamediaviaje, Length: 1000, dtype: object

#### 'Etapa"

In [281]:
etapa["lineatransportepublico"].unique()

array([nan, '21', 'LINEA 21', 'MILODON', 'CALAFATE', '7', 'LINEA 5', '1',
       '5', 'TAXI MILODON', 'YAGANES', 'LLAGANES', 'LINEA', 'PATAGONIA',
       'PATGONIA', 'LINEA 7', 'PARADERO UNIMARC'], dtype=object)

In [282]:
mapa_linea = {
    "21": "Linea 21",
    "LINEA 21": "Linea 21",
    "7": "Linea 7",
    "5": "Linea 5",
    "1": "Linea 1",
    "PATGONIA": "Patagonia",
    "LINEA": "Otro",
    "PARADERO UNIMARC": "Otro",
    "MILODON": "Milodon",
    "CALAFATE": "Calafate",
    "TAXI MILODON": "Taxi milodon",
    "LLAGANES": "Yaganes",
    "YAGANES": "Yaganes"
}
etapa["lineatransportepublico"] = etapa["lineatransportepublico"].map(mapa_linea)

In [283]:
etapa["lineatransportepublico"].unique()

array([nan, 'Linea 21', 'Milodon', 'Calafate', 'Linea 7', 'Linea 1',
       'Linea 5', 'Taxi milodon', 'Yaganes', 'Otro', 'Patagonia'],
      dtype=object)

In [284]:
etapa["lugarbajovehiculocomuna"].unique()

array([nan, 'NATALES', '.'], dtype=object)

In [285]:
mapa_lugarbajo = {
    "NATALES": "Puerto Natales",
    ".": "Desconocido"
}
etapa["lugarbajovehiculocomuna"] = etapa["lugarbajovehiculocomuna"].replace(mapa_lugarbajo)

In [286]:
etapa["lugarbajovehiculocomuna"].value_counts()

lugarbajovehiculocomuna
Puerto Natales    43
Desconocido        1
Name: count, dtype: int64

In [287]:
etapa["sector_lugarbajovehiculo"].unique()

array([nan, '2.Residencial Central', '7.Residencial Perimetral',
       '5.Residencial Sur', '3.Centro', '1.Residencial Norte',
       '6.Residencial Oriente'], dtype=object)

In [288]:
etapa["sector_lugarbajovehiculo"] = etapa["sector_lugarbajovehiculo"].str.replace(r'^\d+\.\s*', '', regex=True)

In [289]:
etapa["sector_lugarbajovehiculo"].unique()

array([nan, 'Residencial Central', 'Residencial Perimetral',
       'Residencial Sur', 'Centro', 'Residencial Norte',
       'Residencial Oriente'], dtype=object)

#### 'Vehiculo'

In [290]:
vehiculo["marcavehiculo"].unique()

array(['SUSUKI', 'SUBARU', 'UAZ', 'HYUNDAI', 'TOYOTA', 'CHEVROLET',
       'HYUNDAY', 'MG', 'MAZDA', 'KIA', 'FORD', 'TATA', 'CHEVROLET SPARK',
       'MERCEDES BENZ', 'JAC', 'CHERY', 'FIAT', 'PEUGEOT', 'AUDI',
       'RENAULT', 'SUZUKI', 'NISSAN', 'RENAUT', 'VOLSVAGEN', 'JACK',
       'SHANGAN', 'GREATWEALL', 'ZOTIER', 'SANGYONG', 'GREAT WEAL',
       'DOGE', 'MITSUBICHI', 'HONDA', 'GREAT WALL', 'MITSUBISHI',
       'RANAULT', 'HUYNDAI', 'CHERVROLET', 'MAHINDRA', 'CHEVROLER',
       'CITROEN', 'WOLSWAGEN', 'FUTON', 'SAMSUNG', 'DODGE', 'CHANGAN',
       'WOFLWAGEN', 'HUYDAI', 'GELLY', 'MAXUS', 'VOLKSWAVEN', 'HIUNDAY',
       'GRET WEALL', 'ZOTIE', 'HUNDAI', 'GMC', 'MITSUBUCHI',
       'MITSUBUSCHI', 'DAEWOO', 'IZUZU', 'JEEP', 'HUNDAY', 'WINGLE',
       'CHEVTOLET', 'ZNARICH', 'TIGGO', 'HAVAL', 'PEUGOT', 'CHERRY',
       'HAVALL', 'CHRVROLET', 'VOLKSWAWEN', 'GREATWALL', 'VOLSWAGEN',
       'MITSUBISCHI', 'NISAN', 'MISTSUBISHI', 'SSANGYONG', 'GRAT WALL',
       'SSANGYOUNG', 'DAHIATSU', 'DATSUN', 'SPARK'], dtype=object)

In [291]:
map_marca = {'SUSUKI': "Suzuki",
 'SUBARU': "Subaru",
 'UAZ': "Uaz",
 'HYUNDAI': "Hyundai",
 'TOYOTA': "Toyota",
 'CHEVROLET': "Chevrolet",
 'HYUNDAY': "Hyundai",
 'MG': "MG",
 'MAZDA': "Mazda",
 'KIA': "Kia",
 'FORD': "Ford",
 'TATA': "Tata",
 'CHEVROLET SPARK': "Chevrolet",
 'MERCEDES BENZ': "Mercedes Benz",
 'JAC': "Jac",
 'CHERY': "Chery",
 'FIAT': "Fiat",
 'PEUGEOT': "Peugeot",
 'AUDI': "Audi",
 'RENAULT': "Renault",
 'SUZUKI': "Suzuki",
 'NISSAN': "Nissan",
 'RENAUT': "Renault",
 'VOLSVAGEN': "Volkswagen",
 'JACK': "Jac",
 'SHANGAN': "Changan",
 'GREATWEALL': "Great wall",
 'ZOTIER': "Zotye",
 'SANGYONG': "Ssangyong",
 'GREAT WEAL': "Great wall",
 'DOGE': "Dodge",
 'MITSUBICHI': "Mitsubishi",
 'HONDA': "Honda",
 'GREAT WALL': "Great wall",
 'MITSUBISHI': "Mitsubishi",
 'RANAULT': "Renault",
 'HUYNDAI': "Hyundai",
 'CHERVROLET': "Chevrolet",
 'MAHINDRA': "Mahindra",
 'CHEVROLER': "Chevrolet",
 'CITROEN': "Citroen",
 'WOLSWAGEN': "Volkswagen",
 'FUTON': "Foton",
 'SAMSUNG': "Samsung",
 'DODGE': "Dodge",
 'CHANGAN': "Changan",
 'WOFLWAGEN': "Volkswagen",
 'HUYDAI': "Hyundai",
 'GELLY': "Geely",
 'MAXUS': "Maxus",
 'VOLKSWAVEN': "Volkswagen",
 'HIUNDAY': "Hyundai",
 'GRET WEALL': "Great wall",
 'ZOTIE': "Zotye",
 'HUNDAI': "Hyundai",
 'GMC': "Gmc",
 'MITSUBUCHI': "Mitsubishi",
 'MITSUBUSCHI': "Mitsubishi",
 'DAEWOO': "Daewoo",
 'IZUZU': "Izuzu",
 'JEEP': "Jeep",
 'HUNDAY': "Hyundai",
 'WINGLE': "Wingle",
 'CHEVTOLET': "Chevrolet",
 'ZNARICH': "Zna Rich",
 'TIGGO': "Tiggo",
 'HAVAL': "Haval",
 'PEUGOT': "Peugot",
 'CHERRY': "Cherry",
 'HAVALL': "Haval",
 'CHRVROLET': "Chevrolet",
 'VOLKSWAWEN': "Volkswagen",
 'GREATWALL': "Great wall",
 'VOLSWAGEN': "Volkswagen",
 'MITSUBISCHI': "Mitsubishi",
 'NISAN': "Nisan",
 'MISTSUBISHI': "Mitsubishi",
 'SSANGYONG': "Ssangyong",
 'GRAT WALL': "Great wall",
 'SSANGYOUNG': "Ssangyong",
 'DAHIATSU': "Dahiatsu",
 'DATSUN': "Datsub",
 'SPARK': "Chevrolet"}

In [292]:
vehiculo["marcavehiculo"] = vehiculo["marcavehiculo"].replace(map_marca)

In [293]:
vehiculo["marcavehiculo"].value_counts()

marcavehiculo
Chevrolet        67
Hyundai          44
Mazda            34
Suzuki           25
Toyota           24
Nissan           19
Ford             13
Mitsubishi       13
Renault          13
Kia              13
Great wall       12
Jac               9
Volkswagen        6
Fiat              5
Ssangyong         5
Changan           5
Dodge             4
Peugeot           4
MG                4
Subaru            3
Jeep              3
Chery             3
Haval             3
Geely             3
Mercedes Benz     2
Honda             2
Zotye             2
Uaz               1
Tata              1
Audi              1
Foton             1
Citroen           1
Mahindra          1
Maxus             1
Gmc               1
Daewoo            1
Izuzu             1
Samsung           1
Wingle            1
Zna Rich          1
Tiggo             1
Peugot            1
Cherry            1
Nisan             1
Dahiatsu          1
Datsub            1
Name: count, dtype: int64

In [294]:
vehiculo = vehiculo.drop(columns="modelovehiculo")

#### 'Localizacion'

In [295]:
localizacion["macrozona"].unique()

array(['4.Borde Costero', '3.Centro', '1.Residencial Norte',
       '2.Residencial Central', '6.Residencial Oriente',
       '5.Residencial Sur', '7.Residencial Perimetral Sur'], dtype=object)

In [296]:
localizacion["macrozona"] = localizacion["macrozona"].str.replace(r'^\d+\.\s*', '', regex=True)

In [297]:
localizacion["macrozona"].unique()

array(['Borde Costero', 'Centro', 'Residencial Norte',
       'Residencial Central', 'Residencial Oriente', 'Residencial Sur',
       'Residencial Perimetral Sur'], dtype=object)

### Null

In [298]:
hogar.isna().sum()[hogar.isna().sum() > 0]

dividendo                   508
arriendo                    423
tipoviviendaanterior        479
comunaviviendaanterior      479
comunaviviendaanterior_e    492
capredtipo                  459
capredsuficiencia           459
numerovehiculos             228
numerobicicletas            395
dtype: int64

In [299]:
def forma_pago_vivienda(row):
    if pd.notna(row['arriendo']):
        return 'arriendo'
    elif pd.notna(row['dividendo']):
        return 'dividendo'
    else:
        return 'sin dato' 

hogar['forma_pago_vivienda'] = hogar.apply(forma_pago_vivienda, axis=1)

In [300]:
hogar['forma_pago_vivienda'].unique()

array(['sin dato', 'arriendo', 'dividendo'], dtype=object)

In [301]:
hogar["tipoviviendaanterior"] = hogar["tipoviviendaanterior"].fillna('Desconocido')

In [302]:
hogar["tipoviviendaanterior"] = hogar["comunaviviendaanterior"].fillna('Desconocido')

In [303]:
hogar["comunaviviendaanterior_e"] = hogar["comunaviviendaanterior_e"].fillna('Desconocido')

In [304]:
hogar["comunaviviendaanterior"] = hogar["comunaviviendaanterior"].fillna('Desconocido')

In [305]:
def rellenar_capacidad(row):
    if pd.isnull(row['capredtipo']):
        if row['integrantecapred'] == 'No':
            return 'No aplica'
        elif row['integrantecapred'] == 'Si':
            return "Desconocido"
    else:
        return row ['capredtipo']

hogar['capredtipo'] = hogar.apply(rellenar_capacidad, axis=1)

In [306]:
hogar["capredtipo"].unique()

array(['Fisica', 'No aplica', 'Sensorial (auditiva, visual)',
       'Intelectual'], dtype=object)

In [307]:
def rellenar_capacidad(row):
    if pd.isnull(row['capredsuficiencia']):
        if row['integrantecapred'] == 'No':
            return 'No aplica'
        elif row['integrantecapred'] == 'Si':
            return "Desconocido"
    else:
        return row ['capredsuficiencia']

hogar['capredsuficiencia'] = hogar.apply(rellenar_capacidad, axis=1)

In [308]:
hogar['capredsuficiencia'].unique()

array(['No', 'No aplica', 'Si'], dtype=object)

In [309]:
def rellenar_vehiculo(row):
    if pd.isnull(row['numerovehiculos']):
        if row['disponibilidadvehiculo'] == 'No':
            return 'No aplica'
        elif row['disponibilidadvehiculo'] == 'Si':
            return "Desconocido"
    else:
        return row ['numerovehiculos']

hogar['numerovehiculos'] = hogar.apply(rellenar_vehiculo, axis=1)

In [310]:
hogar['numerovehiculos'].unique()

array([1, 3, 2, 'No aplica'], dtype=object)

In [311]:
def rellenar_bicicleta(row):
    if pd.isnull(row['numerobicicletas']):
        if row['disponibilidadbicicleta'] == 'No':
            return 'No aplica'
        elif row['disponibilidadbicicleta'] == 'Si':
            return "Desconocido"
    else:
        return row ['numerobicicletas']

hogar['numerobicicletas'] = hogar.apply(rellenar_bicicleta, axis=1)

In [312]:
hogar['numerobicicletas'].unique()

array(['No aplica', 1, 3, 2, 4, 5], dtype=object)

In [313]:
persona.isna().sum()[persona.isna().sum() > 0]

tenenciatarjetaadultomayor    716
escolaridadtitulo             747
actividadotro_e               951
ocupacionprincipal            511
actividadeconomica            511
jornadatrabajo                511
dondeestudia                  830
lugartrabajocomuna            511
lugarestudiocomuna            830
lugardiaregistroviaje         674
motivonoviaje                 674
motivonoviaje_e               970
lugarcomienzodia              326
horasalidahora                326
horasalidaminuto              326
numeroviajes                  326
numeroetapas                  326
saludcomunaesp                978
montoingresopersonal          960
tramoingresopersonal          313
tramoedad                       1
ingresopersonal               130
dtype: int64

In [314]:
persona['tenenciatarjetaadultomayor'].unique()

array(['No', nan, 'Si'], dtype=object)

In [315]:
def rellena_tenencia(row):
    tramo = row['tramoedad']
    tarjeta = row['tenenciatarjetaadultomayor']

    if pd.isna(tarjeta):
        if tramo == 'Mas de 65 años':
            return 'No posee'
        elif pd.isna(tramo):
            return 'Desconocido'
        else:
            return 'No aplica'
    else: 
        return tarjeta
persona['tenenciatarjetaadultomayor'] = persona.apply(rellena_tenencia, axis=1)

In [316]:
persona['escolaridadtitulo'] = persona['escolaridadtitulo'].fillna('Desconocido')

In [317]:
persona['actividadotro_e'] = persona['actividadotro_e'].fillna('No aplica')

In [318]:
persona['ocupacionprincipal'] = persona['ocupacionprincipal'].fillna('Desconocido')

In [319]:
persona['actividadeconomica'] = persona['actividadeconomica'].fillna('Desconocido')

In [320]:
persona['lugardiaregistroviaje'] = persona['lugardiaregistroviaje'].fillna('Desconocido')

In [321]:
persona['lugarestudiocomuna'] = persona['lugarestudiocomuna'].fillna('Desconocido')

In [322]:
persona['lugartrabajocomuna'] = persona['lugartrabajocomuna'].fillna('Desconocido')

In [323]:
persona['lugarcomienzodia'] = persona['lugarcomienzodia'].fillna('Desconocido')

In [324]:
persona['horasalidahora'] = persona['horasalidahora'].fillna('Desconocido')

In [325]:
persona['horasalidaminuto'] = persona['horasalidaminuto'].fillna('Desconocido')

In [326]:
persona['montoingresopersonal'] = persona['montoingresopersonal'].fillna('Desconocido')

In [327]:
persona['ingresopersonal'] = persona['ingresopersonal'].fillna('Desconocido')

In [328]:
persona['tramoedad'] = persona['tramoedad'].fillna('Desconocido')

In [329]:
persona['saludcomunaesp'] = persona['saludcomunaesp'].fillna('Desconocido')

In [330]:
def rellenar_trabaja(row):
    if pd.isnull(row['jornadatrabajo']):
        if row['actividadtrabaja'] == 'No':
            return 'No aplica'
        elif row['actividadtrabaja'] == 'Si':
            return "Desconocido"
    else:
        return row ['jornadatrabajo']

persona['jornadatrabajo'] = persona.apply(rellenar_trabaja, axis=1)

In [331]:
persona['jornadatrabajo'].unique()

array(['No aplica', 'Jornada completa (40 hrs o mas semanales)',
       'Jornada parcial (menos de 40hrs semanales)', 'Ocasional'],
      dtype=object)

In [332]:
def rellenar_estudia(row):
    if pd.isnull(row['dondeestudia']):
        if row['actividadestudia'] == 'No':
            return 'No aplica'
        elif row['actividadestudia'] == 'Si':
            return "Desconocido"
    else:
        return row ['dondeestudia']

persona['dondeestudia'] = persona.apply(rellenar_estudia, axis=1)

In [333]:
persona['dondeestudia'].unique()

array(['No aplica', 'Escuela, liceo, colegio', 'Prekinder o kinder',
       'Universidad', 'Jardin infantil', 'Centro de formacion tecnica',
       'Instituto tecnico profesional', 'Otro', 'Solo preuniversitario'],
      dtype=object)

In [334]:
def rellenar_motivonoviaje(row):
    if pd.isnull(row['motivonoviaje']):
        if row['realizoviaje'] == 'Si':
            return 'No aplica'
        elif row['realizoviaje'] == 'No':
            return "Desconocido"
    else:
        return row ['motivonoviaje']

persona['motivonoviaje'] = persona.apply(rellenar_motivonoviaje, axis=1)

In [335]:
persona['motivonoviaje'].unique()

array(['Por enfermedad', 'No aplica', 'Por trabajo domestico',
       'Por descanso', 'Por trabajo', 'Por otro motivo', 'Por estudio'],
      dtype=object)

In [336]:
persona['motivonoviaje_e'] = persona['motivonoviaje_e'].fillna('No aplica')

In [337]:
def clasificar_tramo_condicional(row):
    # Si ya tiene un valor en tramoingresopersonal, lo dejamos
    if pd.notna(row['tramoingresopersonal']):
        return row['tramoingresopersonal']
    
    monto = row['montoingresopersonal']

    if pd.isna(monto) or monto in ['desconocido', 'No responde']:
        return 'No responde'
    
    try:
        monto = float(monto)
        if monto < 245001:
            return 'Menos de $245.000'
        elif 245001 <= monto <= 395000:
            return 'Entre $245.001 y $395.000'
        elif 395001 <= monto <= 560000:
            return 'Entre $395.001 y $560.000'
        elif 560001 <= monto <= 703000:
            return 'Entre $560.001 y $703.000'
        elif 703001 <= monto <= 821000:
            return 'Entre $703.001 y $821.000'
        elif 821001 <= monto <= 1035000:
            return 'Entre $821.001 y 1.035.000'
        elif 1035001 <= monto <= 1275000:
            return 'Entre $1.035.001 y $1.275.000'
        elif 1275001 <= monto <= 1726000:
            return 'Entre $1.275.001 y $1.726.000'
        elif 1726001 <= monto <= 2330000:
            return 'Entre $1.726.001 y $2.330.000'
        else:
            return 'Mas de $2.330.000'
    except:
        return 'No responde'

# Aplicar la función solo en los NaN
persona['tramoingresopersonal'] = persona.apply(clasificar_tramo_condicional, axis=1)

In [338]:
viaje.isna().sum()[viaje.isna().sum() > 0]

propositovc         525
actividadempresa    792
tipoasiento         462
dtype: int64

In [339]:
viaje['tipoasiento'] = viaje['tipoasiento'].fillna('Desconocido')

In [340]:
viaje['propositovc'] = viaje['propositovc'].fillna('No aplica')

In [341]:
persona['actividadtrabaja'].value_counts(dropna = False)

actividadtrabaja
No    511
Si    489
Name: count, dtype: int64

In [342]:
etapa.isna().sum()[etapa.isna().sum() > 0]

cuadrascaminadasantes       246
minutoscaminadosantes       246
tipoasiento                 462
ordenvehiculoviaje          462
situacionbicicleta          957
usohabitualbicicleta        957
usociclovia                 957
motivonousociclovia         957
tiempoespera                851
vehiculosnouso              851
numerovehiculonouso         976
lineatransportepublico      861
pagotarifaviaje             848
montotarifaviaje            857
lugarbajovehiculo           848
lugarbajovehiculocomuna     956
zona_lugarbajovehiculo      956
sector_lugarbajovehiculo    956
dondeestacionovehiculo      462
lugarestacionovehiculo      575
montopagoestacionamiento    575
lugarestacionobicicleta     957
dtype: int64

In [343]:
etapa['ordenvehiculoviaje'].value_counts()

ordenvehiculoviaje
1.0     404
2.0      89
99.0     41
3.0       4
Name: count, dtype: int64

In [344]:
etapa.loc[
    (etapa['usohabitualbicicleta'].isna()) &
    (etapa['modoetapa'].str.contains('bicicleta', case=False, na=False)),
    'usohabitualbicicleta'
] = 'Sí'

In [345]:
etapa['usohabitualbicicleta'] = etapa['usohabitualbicicleta'].fillna('Desconocido')

In [346]:
etapa['usociclovia'] = etapa['usociclovia'].fillna('Desconocido')

In [347]:
etapa['motivonousociclovia'] = etapa['motivonousociclovia'].fillna('Desconocido')

In [348]:
etapa['cuadrascaminadasantes'] = etapa['cuadrascaminadasantes'].fillna('Desconocido')

In [349]:
etapa['minutoscaminadosantes'] = etapa['minutoscaminadosantes'].fillna('Desconocido')

In [350]:
etapa['tipoasiento'] = etapa['tipoasiento'].fillna('Desconocido')

In [351]:
etapa['tiempoespera'] = etapa['tiempoespera'].fillna('Desconocido')

In [352]:
etapa['lineatransportepublico'] = etapa['lineatransportepublico'].fillna('Desconocido')

In [353]:
etapa['lineatransportepublico'] = etapa['lineatransportepublico'].fillna('Desconocido')

In [354]:
etapa['montotarifaviaje'] = etapa['montotarifaviaje'].fillna('Desconocido')

In [355]:
etapa['lugarbajovehiculo'] = etapa['lugarbajovehiculo'].fillna('Desconocido')

In [356]:
etapa['lugarbajovehiculocomuna'] = etapa['lugarbajovehiculocomuna'].fillna('Desconocido')

In [357]:
etapa['zona_lugarbajovehiculo'] = etapa['zona_lugarbajovehiculo'].fillna('Desconocido')

In [358]:
etapa['sector_lugarbajovehiculo'] = etapa['sector_lugarbajovehiculo'].fillna('Desconocido')

In [359]:
etapa['montopagoestacionamiento'] = etapa['montopagoestacionamiento'].fillna('Desconocido')

In [360]:
etapa['situacionbicicleta'] = etapa['situacionbicicleta'].fillna('No aplica')

In [361]:
etapa['numerovehiculonouso'] = etapa['numerovehiculonouso'].fillna('Desconocido')

In [362]:
etapa['pagotarifaviaje'] = etapa['pagotarifaviaje'].fillna('Desconocido')

In [363]:
etapa['dondeestacionovehiculo'] = etapa['dondeestacionovehiculo'].fillna('Desconocido')

In [364]:
etapa['lugarestacionovehiculo'] = etapa['lugarestacionovehiculo'].fillna('Desconocido')

In [365]:
etapa['lugarestacionobicicleta'] = etapa['lugarestacionobicicleta'].fillna('Desconocido')

In [366]:
etapa['vehiculosnouso'] = etapa['vehiculosnouso'].fillna('Desconocido')

In [367]:
def rellenar_ordenvehiculo(row):
    if pd.isnull(row['ordenvehiculoviaje']):
        if row['modoetapa'] != 1:
            return 'No aplica'
        elif row['modoetapa'] == 1:
            return "Desconocido"
    else:
        return row['ordenvehiculoviaje']

etapa['ordenvehiculoviaje'] = etapa.apply(rellenar_ordenvehiculo, axis=1)

In [368]:
etapa['ordenvehiculoviaje'].value_counts()

ordenvehiculoviaje
No aplica    462
1.0          404
2.0           89
99.0          41
3.0            4
Name: count, dtype: int64

### Guardado Dataset limpios

In [369]:
hogar.to_csv("hogar_limpio.csv", index=False)
viaje.to_csv("viajes_limpio.csv", index=False)
bicicleta.to_csv("bicicleta_limpio.csv", index=False)
vehiculo.to_csv("vehiculo_limpio.csv", index=False)
persona.to_csv("persona_limpio.csv", index=False)
etapa.to_csv("etapa_limpio.csv", index=False)
localizacion.to_csv("localizacion_limpio.csv", index=False)